{
  "openapi": "3.0.3",
  "info": {
    "title": "TKCreazy 视频生成 API（Seedance / MX933 / HappyHorse / LTX）",
    "version": "2026-08-05.1",
    "license": {
      "name": "LGPL-3.0-only",
      "url": "https://spdx.org/licenses/LGPL-3.0-only.html"
    },
    "description": "这是一份可直接导入 Apifox 的最终完整规范。客户只调用 TKCreazy 公网地址，不需要也不应该接触任何内部服务地址、凭证或执行型号。\n\n固定流程：1）有参考素材时先上传；2）把上传响应中的完整 media_url 填入创建任务请求；3）保存 job_id；4）每 3-5 秒查询任务；5）status=completed 后下载 MP4。服务端后台结算器会持续轮询未结算的视频任务并自动推进容灾、终态结算和幂等退款，因此退款不依赖客户持续轮询；客户端仍应查询任务以获取最新状态。\n\n鉴权：所有接口都使用 Authorization: Bearer <TKCREAZY_API_KEY>。上传素材读取、任务列表、任务查询、取消和下载在生成扣完余额后仍允许访问，但无效或停用的 Key 仍会被拒绝。\n\nURL 规则：创建响应的 status_url 是绝对 URL。任务查询和列表中的 status_url、mp4_url、url、local_url、download_url 固定返回以 /v1 开头的站点相对路径；完整地址必须使用 https://tkcreazy.top + 返回值，不能拼到 https://tkcreazy.top/v1 后面，否则会得到重复的 /v1/v1。\n\n上传响应中的 expires_at 是服务端上传记录期限（通常 24 小时）；media_url 是临时签名地址，可能更早过期。上传后应立即创建任务，不要缓存签名 URL 长时间复用。\n\n分组规则：Seedance Key 可调用 seedance-2.0、seedance-2.0-fast、seedance-2.0-mini、sd2-mx933、sd2-mx933-fast；HappyHorse Key 只能调用 happy-horse-1.1；LTX Key 只能调用 ltx-2.3-pro、ltx-2.3-fast。Key 必须关联对应的独立视频分组，不能跨分组调用。\n\nSeedance 时长规则：所有 Seedance 模型的新请求只允许 duration=5、10 或 15；省略 duration 时按 5 秒处理，显式填写 0 或 null 会直接返回参数错误。seedance-2.0 使用 1080p 时只允许 5 或 10 秒。sd2-mx933 与 sd2-mx933-fast 支持 480p/720p；平台根据公开 model、resolution 和 duration 自动选择内部执行规格，调用方始终只传公开模型名，任务和响应也始终保留公开模型名。HappyHorse 为 720p/1080p、3-15 秒；LTX Pro 为 1080p/1440p/2160p 且时长只能是 6/8/10 秒；LTX Fast 为同样三档清晰度且时长只能是 6-20 秒中的偶数。\n\n音频规则：所有已列出的模型都可用 audio=true 明确请求生成同步音轨，省略 audio 时默认 false。普通 Seedance（seedance-2.0、seedance-2.0-fast、seedance-2.0-mini）填写 guidances.audio_reference 时，为兼容既有行为，服务会自动按 audio=true 处理，但仍建议显式填写；MX933（sd2-mx933、sd2-mx933-fast）不会自动开启音轨，存在 audio_reference 时也必须同时填写 audio=true。Seedance 系列支持参考音频，普通 Seedance 最多 1 个，MX933 最多 3 个；HappyHorse 和 LTX 不支持参考音频。参考音频不是原音轨直通，prompt 必须明确列出要保留的音色、节奏、旋律、语句或声音事件。\n\n素材组合：普通 Seedance 最多 4 图、3 视频、1 音频；image_reference 不能与 image_url/start_frame_url/end_frame_url 组合，尾帧必须搭配首帧。MX933 的首帧、尾帧与 image_reference 可以组合且图片合计最多 9 张，另支持最多 3 视频、3 音频；全部参考文件合计最多 12 个。因此 9 图 + 3 视频 + 3 音频 = 15 个文件属于非法请求；同时用满三种参考素材的最大合法组合是 6 图 + 3 视频 + 3 音频 = 12 个文件。所有 Seedance 参考音频都必须搭配 image_reference 或 video_reference_base，首尾帧本身不能单独满足该条件。HappyHorse 最多 9 张参考图，也可单独用首帧，但两种方式不能同时使用。LTX 只支持首帧或首尾帧，不支持多图、参考视频、参考音频。\n\n示例标识：标题中的“已验证”表示该能力已通过 https://tkcreazy.top/v1 提交任务并取得可下载 MP4；Seedance Mini 的“已验证提交”表示服务已接受任务并成功执行取消流程，但本轮未等待其生成完成。"
  },
  "servers": [
    {
      "url": "https://tkcreazy.top/v1",
      "description": "TKCreazy 公网 API"
    }
  ],
  "tags": [
    {
      "name": "视频生成",
      "description": "素材上传、异步视频任务、状态查询、取消和 MP4 下载"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/videos/uploads": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "上传一张图片、一个音频或一个视频素材",
        "description": "每次请求只上传一个文件。图片字段名为 image，音频字段名为 audio，视频字段名为 video。需要多个素材时分别调用多次。成功后把 media_url 原样用于创建任务。application/json 仅支持图片 Base64。",
        "operationId": "uploadVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ImageUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/AudioUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/VideoUploadForm"
                  }
                ]
              },
              "encoding": {
                "image": {
                  "contentType": "image/png, image/jpeg, image/webp"
                },
                "audio": {
                  "contentType": "audio/*"
                },
                "video": {
                  "contentType": "video/*"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ImageUpload"
              },
              "examples": {
                "dataUri": {
                  "value": {
                    "image_base64": "data:image/png;base64,<BASE64_DATA>",
                    "filename": "reference.png"
                  }
                },
                "bareBase64": {
                  "value": {
                    "image_base64": "<BASE64_DATA>",
                    "content_type": "image/png",
                    "filename": "reference.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功。media_url 是创建任务时要填写的值。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                },
                "example": {
                  "upload_id": "sdupl_example_123",
                  "media_url": "https://object-storage.example/video-input.png?temporary-signature=...",
                  "media_type": "image",
                  "content_type": "image/png",
                  "size": 72396,
                  "sha256": "d42c2780ffcedeb699ac245f42118b4ed082e61d1ba7146549b9df08607f2731",
                  "expires_at": "2026-08-04T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "文件超过限制。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "media_too_large",
                    "message": "uploaded media exceeds the configured size limit",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type 不受支持。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "unsupported_media_type",
                    "message": "Content-Type must be multipart/form-data or application/json",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "上传图片",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'image=@./reference.png'"
          },
          {
            "lang": "Shell",
            "label": "上传音频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'audio=@./reference.wav'"
          },
          {
            "lang": "Shell",
            "label": "上传视频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'video=@./reference.mp4'"
          }
        ]
      }
    },
    "/videos/uploads/{upload_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "读取已上传的原始素材",
        "description": "成功响应是原始文件字节，不是 JSON。该接口用于核对上传内容；创建任务仍应填写上传响应中的 media_url。支持 Range。",
        "operationId": "getUploadedVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UploadID"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整原始文件。",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 读取成功。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes 0-1023/72396"
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "416": {
            "description": "Range 超出文件范围。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes */72396"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "range_not_satisfiable",
                    "message": "Requested byte range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/uploads/sdupl_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -o uploaded-file.bin"
          }
        ]
      }
    },
    "/videos/generations": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "创建异步视频生成任务",
        "description": "### 真实调用地址\n`POST https://tkcreazy.top/v1/videos/generations`。Seedance、HappyHorse、LTX 都使用这个地址，只通过请求体中的 `model` 区分；不要在路径后添加模型名。\n\n### 模型和 API Key 分组必须一致\n| API Key 分组 | 可填写的 model | 清晰度与时长 |\n| --- | --- | --- |\n| Seedance | `seedance-2.0` | 480p/720p：5/10/15 秒；1080p：5/10 秒 |\n| Seedance | `seedance-2.0-fast` | 480p/720p：5/10/15 秒 |\n| Seedance | `seedance-2.0-mini` | 480p/720p：5/10/15 秒 |\n| Seedance | `sd2-mx933` | 480p/720p：5/10/15 秒；省略时 5 秒 |\n| Seedance | `sd2-mx933-fast` | 480p/720p：5/10/15 秒；省略时 5 秒 |\n| HappyHorse | `happy-horse-1.1` | 720p/1080p：3-15 秒 |\n| LTX | `ltx-2.3-pro` | 1080p/1440p/2160p：只能填 6、8、10 秒 |\n| LTX | `ltx-2.3-fast` | 1080p/1440p/2160p：6-20 秒中的偶数 |\n\n所有 Seedance 新请求的 `duration` 只能填 `5`、`10` 或 `15`，省略时按 5 秒处理；任何其他值（包括 `0` 和 `null`）都会在创建任务时直接返回参数错误。对 `seedance-2.0`，1080p 只允许 5 或 10 秒。调用 `sd2-mx933` 或 `sd2-mx933-fast` 时，平台会根据公开模型名、`resolution` 和 `duration` 自动选择内部执行规格；调用方不需要也不能传内部执行型号，任务查询和计费记录仍显示原公开模型名。\n\n### 参考素材怎么填\n1. 先调用 `POST /videos/uploads`。每次只上传一个文件；多素材就分别上传多次。\n2. 从每次上传响应中复制完整 `media_url`，包括全部签名查询参数。\n3. 在当前接口选择对应示例，并把 `https://replace.invalid/...` 的整个占位 URL 替换成相应上传响应中的完整 `media_url`。不要填写 `upload_id`。\n4. 普通 Seedance 可用最多 4 图、3 视频、1 音频；MX933 的首帧、尾帧和参考图合计最多 9 张，另可用最多 3 视频、3 音频，全部文件合计最多 12 个。因此 `9 图 + 3 视频 + 3 音频 = 15` 非法；需要同时用满三类素材时，最大合法组合是 `6 图 + 3 视频 + 3 音频 = 12`；HappyHorse 可用最多 9 图；LTX 只使用首帧或首尾帧。\n5. 参考音频只有 Seedance 系列支持，且必须同时提供 `guidances.image_reference` 或 `guidances.video_reference_base`。`prompt` 必须明确写出要保留的音高、节奏、音色、语句或声音事件。普通 Seedance 为兼容既有行为会在存在 `audio_reference` 时自动按 `audio: true` 处理，但仍建议显式填写；MX933 不会自动开启音轨，必须明确填写 `audio: true`。\n\n### 上传字段和生成字段的对应关系\n| 素材 | 上传接口 multipart 字段 | 创建任务 JSON 字段 |\n| --- | --- | --- |\n| 单图/多图参考 | `image` | `guidances.image_reference[].image.url` |\n| 首帧 | `image` | `image_url` 或 `start_frame_url` |\n| 尾帧 | `image` | `end_frame_url`；普通 Seedance 和 LTX 必须同时填写 `start_frame_url`，MX933 允许单独填写 |\n| 单视频/多视频参考 | `video` | `guidances.video_reference_base[].video.url` |\n| 参考音频 | `audio` | `guidances.audio_reference[].audio.url` |\n\n参考音频不能单独创建任务。合法组合是“`guidances.image_reference + audio_reference`”或“`video_reference_base + audio_reference`”；只填写首帧/尾帧不能满足参考音频的视觉素材条件。普通 Seedance 即使省略 `audio` 也会为参考音频自动开启音轨；MX933 必须同时填写 `audio: true`。\n\n### 在 Apifox 中选择示例\nSeedance 示例分别提供普通模型的纯文本、单图、多图、首帧、首尾帧、单视频、多视频、图片+音频、视频+音频和 Mini，以及 MX933 的纯文本和 6 图 + 3 视频 + 3 音频满载合法组合。HappyHorse 提供纯文本、首帧、单图和多图；LTX 提供纯文本、首帧和首尾帧。先选请求示例，再在 `202` 返回响应中选择同名示例；Apifox 的请求和响应示例下拉框彼此独立。\n\n### 成功后怎么做\n成功固定返回 HTTP 202。保存 `job_id`，每 3-5 秒调用 `GET /videos/jobs/{job_id}`；当 `status=completed` 时，再调用 `GET /videos/jobs/{job_id}/content` 下载 MP4。",
        "operationId": "createVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "description": "必须选择与 model 对应的请求 Schema。所有 Seedance 新请求的 duration 只允许 5、10、15，省略时为 5。MX933 素材硬限制：首帧、尾帧和 image_reference 中的图片合计最多 9 张，格式为 JPEG/PNG/WebP，每张不超过 30,000,000 字节；通过 TKCreazy 的 /videos/uploads 上传图片时上限为 10 MiB，因此推荐上传流程应按 10 MiB 执行。video_reference_base 最多 3 个，格式为 MP4/MOV，合计不超过 50,000,000 字节，合计时长 2-15 秒，短边 480-720 像素、长边不超过 1280 像素。audio_reference 最多 3 个，格式为 MP3/WAV，每个不超过 15,000,000 字节，合计时长不超过 15 秒，并且必须同时存在至少一个 image_reference 或 video_reference_base。全部参考素材合计最多 12 个，单次任务素材传输总量不超过 384 MiB。MX933 不支持 prompt_enhance，必须省略该字段。9 图 + 3 视频 + 3 音频共 15 个素材是非法组合；三类素材同时用满时最大合法组合为 6 图 + 3 视频 + 3 音频。",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Seedance20Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceFastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceMiniRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceMX933Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceMX933FastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/HappyHorseRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXProRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXFastRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "model",
                  "mapping": {
                    "seedance-2.0": "#/components/schemas/Seedance20Request",
                    "seedance-2.0-fast": "#/components/schemas/SeedanceFastRequest",
                    "seedance-2.0-mini": "#/components/schemas/SeedanceMiniRequest",
                    "sd2-mx933": "#/components/schemas/SeedanceMX933Request",
                    "sd2-mx933-fast": "#/components/schemas/SeedanceMX933FastRequest",
                    "happy-horse-1.1": "#/components/schemas/HappyHorseRequest",
                    "ltx-2.3-pro": "#/components/schemas/LTXProRequest",
                    "ltx-2.3-fast": "#/components/schemas/LTXFastRequest"
                  }
                }
              },
              "examples": {
                "mx933Text": {
                  "summary": "MX933 01｜933 标准版：纯文本（sd2-mx933）",
                  "value": {
                    "model": "sd2-mx933",
                    "prompt": "雨后的城市街道映出霓虹灯光，一名穿橙色外套的人撑着蓝色雨伞向镜头走来，镜头平稳后退并保持人物居中，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false
                  }
                },
                "mx933FastText": {
                  "summary": "MX933 02｜933 Fast：480p 纯文本（sd2-mx933-fast）",
                  "value": {
                    "model": "sd2-mx933-fast",
                    "prompt": "白色摄影棚内，一只红色旅行箱在转台上缓慢旋转，镜头由全景平稳推进至产品近景，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false
                  }
                },
                "seedance20Text": {
                  "summary": "Seedance 01｜已验证：2.0 纯文本",
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "清晨的海边城市逐渐亮起灯光，镜头从海面平稳推进到城市天际线，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "seedanceSingleImage": {
                  "summary": "Seedance 02｜已验证：单图参考（先上传 1 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "保持参考图中的商品外观和标志一致，让商品在摄影棚转台上缓慢旋转，镜头平稳推进，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMultiImage": {
                  "summary": "Seedance 03｜已验证：多图参考（先上传 2-4 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "第一张图决定人物和商品，第二张图决定品牌标志；人物拿起带有该标志的商品袋，转向镜头并向前走两步，保持人物、商品和标志一致。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-3-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 2
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-4-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 3
                        }
                      ]
                    }
                  }
                },
                "seedanceFirstFrame": {
                  "summary": "Seedance 04｜已验证：首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "从上传的首帧开始，让人物拿起桌上的商品并转向镜头，动作连续自然，保持首帧人物和商品外观一致。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "image_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "seedanceFirstLastFrames": {
                  "summary": "Seedance 05｜已验证：首尾帧（先上传 2 图）",
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "从第一张图的构图和站位连续过渡到第二张图，人物动作完整可见，镜头平稳推进，不跳切。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload",
                    "end_frame_url": "https://replace.invalid/image-media-url-2-from-upload"
                  }
                },
                "seedanceSingleVideo": {
                  "summary": "Seedance 06｜已验证：单视频参考（先上传 1 视频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "参考上传视频中的主体动作和镜头节奏，生成连续、自然的商品展示视频；保持动作完整可见，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMultiVideo": {
                  "summary": "Seedance 07｜多视频参考（先上传 2-3 视频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "综合三个参考视频的主体动作、镜头运动和节奏，生成一个连续的商品展示镜头；保持动作自然衔接，不直接拼接原视频。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-3-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "seedanceImageAudio": {
                  "summary": "Seedance 08｜已验证：单图 + 参考音频（上传 1 图、1 音频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "以参考图片中的商品为主体生成 5 秒展示视频。明确保留参考音频中的 660Hz 持续电子提示音，使相同音高、稳定节奏和强弱从开头持续到结尾；不要替换成环境音乐、对白或其他音效。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceVideoAudio": {
                  "summary": "Seedance 09｜单视频 + 参考音频（上传 1 视频、1 音频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "沿用参考视频中的动作节奏和镜头运动，同时保留参考音频中的连续电子提示音、相同音高和稳定节拍；不要替换为音乐或对白。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMiniText": {
                  "summary": "Seedance 10｜已验证提交：Mini 纯文本",
                  "value": {
                    "model": "seedance-2.0-mini",
                    "prompt": "明亮摄影棚内，一只红色购物袋缓慢旋转，镜头平稳推进，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": false
                  }
                },
                "mx933FullReferences": {
                  "summary": "MX933 03｜933 标准版：已验证提交 6 图 + 3 视频 + 3 音频（合计 12 个素材）",
                  "value": {
                    "model": "sd2-mx933",
                    "prompt": "严格保留六张参考图中的人物身份、红色手提箱、蓝色雨伞、银色相机、绿色店铺招牌和橙色外套；按三个参考视频依次复现从左向右行走、转身看向镜头、举起雨伞的动作节奏。声音必须保留三段参考音频中的女声原句与音色、连续雨声以及三音符提示音，并让提示音与举伞动作同步；不要用相似风格音乐替代这些声音。镜头连续稳定，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-character-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-red-suitcase-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-blue-umbrella-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 2
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-silver-camera-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 3
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-green-sign-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 4
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-orange-coat-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 5
                        }
                      ],
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-walk-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-turn-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-raise-umbrella-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-female-voice-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-rain-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-three-note-chime-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "mx933MultiImage": {
                  "summary": "MX933 04｜933 标准版：多图参考（先上传 3 张图）",
                  "value": {
                    "model": "sd2-mx933",
                    "prompt": "第一张参考图决定人物身份，第二张决定红色手提箱，第三张决定蓝色雨伞；让人物拿起手提箱并撑开雨伞，保持三张参考图中的主体外观和关键物件一致，镜头连续稳定，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-image-character-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-image-suitcase-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-image-umbrella-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "mx933FastMultiImage": {
                  "summary": "MX933 05｜933 Fast：多图参考（先上传 4 张图）",
                  "value": {
                    "model": "sd2-mx933-fast",
                    "prompt": "综合四张参考图中的人物、服装、商品和场景，保持品牌标志与商品比例一致，让人物把商品放在桌面上并转向镜头，动作连续自然，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-fast-image-person-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-fast-image-product-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-fast-image-logo-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 2
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-fast-image-scene-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 3
                        }
                      ]
                    }
                  }
                },
                "mx933MultiVideo": {
                  "summary": "MX933 06｜933 标准版：多视频参考（先上传 2 个视频）",
                  "value": {
                    "model": "sd2-mx933",
                    "prompt": "参考第一个视频中的行走动作和第二个视频中的镜头运动，生成一个连续的商品展示镜头；保持动作节奏自然，不直接拼接原视频，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-video-walk-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-video-camera-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        }
                      ]
                    }
                  }
                },
                "mx933FastMultiVideo": {
                  "summary": "MX933 07｜933 Fast：多视频参考（先上传 3 个视频）",
                  "value": {
                    "model": "sd2-mx933-fast",
                    "prompt": "按三个参考视频依次保留从左向右走、拿起商品、面向镜头展示的动作节奏，合成为一个连续镜头，不直接拼接原视频，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-fast-video-walk-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-fast-video-pickup-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-fast-video-present-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "mx933ImageAudio": {
                  "summary": "MX933 08｜933 标准版：多音频 + 多图参考（先上传 2 图、3 音频）",
                  "value": {
                    "model": "sd2-mx933",
                    "prompt": "严格保留两张参考图中的人物和商品外观；画面中人物拿起商品并转向镜头。声音必须分别保留三段参考音频中的女声原句与音色、连续雨声和三音符提示音，并让提示音与转身动作同步；不要用相似风格音乐替代这些声音。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-audio-image-person-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/mx933-audio-image-product-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/mx933-audio-voice-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/mx933-audio-rain-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/mx933-audio-chime-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "mx933FastImageAudio": {
                  "summary": "MX933 09｜933 Fast：多音频 + 单视频参考（先上传 1 视频、2 音频）",
                  "value": {
                    "model": "sd2-mx933-fast",
                    "prompt": "沿用参考视频中的动作节奏和镜头运动，同时分别保留两段参考音频中的连续电子提示音和低声旁白音色、节奏与原句；不要替换成背景音乐或其他对白。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/mx933-fast-audio-video-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/mx933-fast-audio-beep-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/mx933-fast-audio-voice-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        }
                      ]
                    }
                  }
                },
                "happyHorseText": {
                  "summary": "HappyHorse 01｜已验证：纯文本",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "A horse runs through a sunlit meadow, cinematic tracking shot.",
                    "resolution": "1080p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "OFF"
                  }
                },
                "happyHorseFirstFrame": {
                  "summary": "HappyHorse 02｜已验证：首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "Animate the subject in the uploaded first frame with a slow cinematic camera push.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "prompt_enhance": "OFF",
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "happyHorseSingleImage": {
                  "summary": "HappyHorse 03｜单图参考（先上传 1 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "Keep the subject and product from the uploaded reference image recognizable while the presenter turns toward the camera.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "OFF",
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "happyHorseMultiAudio": {
                  "summary": "HappyHorse 04｜已验证：多图 + 生成音轨（先上传 2-9 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "A person holds a shopping bag carrying the product mark from the first image and the brand mark from the second image, turns it toward the camera, then takes two steps forward. Keep both marks recognizable and add synchronized studio ambience.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "OFF",
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        }
                      ]
                    }
                  }
                },
                "ltxProText": {
                  "summary": "LTX 01｜已验证：Pro 纯文本",
                  "value": {
                    "model": "ltx-2.3-pro",
                    "prompt": "A cinematic sunrise over a coastal city, smooth aerial camera movement.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "ltxFastText": {
                  "summary": "LTX 02｜已验证：Fast 纯文本",
                  "value": {
                    "model": "ltx-2.3-fast",
                    "prompt": "A fast tracking shot through a neon city street.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "ltxFirstFrame": {
                  "summary": "LTX 03｜首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "ltx-2.3-fast",
                    "prompt": "Animate the uploaded first frame with a smooth forward camera move and synchronized studio ambience.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "AUTO",
                    "image_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "ltxFramesAudio": {
                  "summary": "LTX 04｜已验证：首尾帧 + 生成音轨（先上传 2 图）",
                  "value": {
                    "model": "ltx-2.3-pro",
                    "prompt": "Create a smooth studio transition from the first uploaded composition to the second. Keep the camera centered and add subtle synchronized electronic ambience.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "AUTO",
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload",
                    "end_frame_url": "https://replace.invalid/image-media-url-2-from-upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已被服务和上游接受进入异步处理，不代表视频已经生成成功。Location 与 status_url 均指向查询接口；必须继续查询到 completed、failed 或 cancelled。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://tkcreazy.top/v1/videos/jobs/vidjob_example_123"
              },
              "Preference-Applied": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "respond-async"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobResponse"
                },
                "examples": {
                  "mx933Text": {
                    "summary": "MX933 01｜933 标准版：纯文本（sd2-mx933）",
                    "value": {
                      "job_id": "hqv1_task_mx933_text_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_text_example_123",
                      "model": "sd2-mx933",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "mx933FastText": {
                    "summary": "MX933 02｜933 Fast：480p 纯文本（sd2-mx933-fast）",
                    "value": {
                      "job_id": "hqv1_task_mx933_fast_text_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_fast_text_example_123",
                      "model": "sd2-mx933-fast",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "seedance20Text": {
                    "summary": "Seedance 01｜已验证：2.0 纯文本",
                    "value": {
                      "job_id": "vidjob_seedance20Text_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedance20Text_example_123",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceSingleImage": {
                    "summary": "Seedance 02｜已验证：单图参考（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_seedanceSingleImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceSingleImage_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMultiImage": {
                    "summary": "Seedance 03｜已验证：多图参考（先上传 2-4 图）",
                    "value": {
                      "job_id": "vidjob_seedanceMultiImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMultiImage_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceFirstFrame": {
                    "summary": "Seedance 04｜已验证：首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_seedanceFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceFirstFrame_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceFirstLastFrames": {
                    "summary": "Seedance 05｜已验证：首尾帧（先上传 2 图）",
                    "value": {
                      "job_id": "vidjob_seedanceFirstLastFrames_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceFirstLastFrames_example_123",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceSingleVideo": {
                    "summary": "Seedance 06｜已验证：单视频参考（先上传 1 视频）",
                    "value": {
                      "job_id": "vidjob_seedanceSingleVideo_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceSingleVideo_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMultiVideo": {
                    "summary": "Seedance 07｜多视频参考（先上传 2-3 视频）",
                    "value": {
                      "job_id": "vidjob_seedanceMultiVideo_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMultiVideo_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceImageAudio": {
                    "summary": "Seedance 08｜已验证：单图 + 参考音频（上传 1 图、1 音频）",
                    "value": {
                      "job_id": "vidjob_seedanceImageAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceImageAudio_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceVideoAudio": {
                    "summary": "Seedance 09｜单视频 + 参考音频（上传 1 视频、1 音频）",
                    "value": {
                      "job_id": "vidjob_seedanceVideoAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceVideoAudio_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMiniText": {
                    "summary": "Seedance 10｜已验证提交：Mini 纯文本",
                    "value": {
                      "job_id": "vidjob_seedanceMiniText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMiniText_example_123",
                      "model": "seedance-2.0-mini",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "mx933FullReferences": {
                    "summary": "MX933 03｜933 标准版：已验证提交后的 202 响应结构（6 图 + 3 视频 + 3 音频）",
                    "value": {
                      "job_id": "hqv1_task_mx933_full_references_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_full_references_example_123",
                      "model": "sd2-mx933",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-04T12:00:00+08:00"
                    }
                  },
                  "mx933MultiImage": {
                    "summary": "MX933 04｜933 标准版：多图参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_multi_image_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_multi_image_example_123",
                      "model": "sd2-mx933",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "mx933FastMultiImage": {
                    "summary": "MX933 05｜933 Fast：多图参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_fast_multi_image_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_fast_multi_image_example_123",
                      "model": "sd2-mx933-fast",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": 1785844800
                    }
                  },
                  "mx933MultiVideo": {
                    "summary": "MX933 06｜933 标准版：多视频参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_multi_video_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_multi_video_example_123",
                      "model": "sd2-mx933",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "mx933FastMultiVideo": {
                    "summary": "MX933 07｜933 Fast：多视频参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_fast_multi_video_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_fast_multi_video_example_123",
                      "model": "sd2-mx933-fast",
                      "resolution": "480p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "mx933ImageAudio": {
                    "summary": "MX933 08｜933 标准版：多音频 + 多图参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_image_audio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_image_audio_example_123",
                      "model": "sd2-mx933",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "mx933FastImageAudio": {
                    "summary": "MX933 09｜933 Fast：多音频 + 单视频参考的 202 响应",
                    "value": {
                      "job_id": "hqv1_task_mx933_fast_image_audio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/hqv1_task_mx933_fast_image_audio_example_123",
                      "model": "sd2-mx933-fast",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": 1785844800
                    }
                  },
                  "happyHorseText": {
                    "summary": "HappyHorse 01｜已验证：纯文本",
                    "value": {
                      "job_id": "vidjob_happyHorseText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseText_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "1080p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseFirstFrame": {
                    "summary": "HappyHorse 02｜已验证：首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseFirstFrame_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "9:16",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseSingleImage": {
                    "summary": "HappyHorse 03｜单图参考（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseSingleImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseSingleImage_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseMultiAudio": {
                    "summary": "HappyHorse 04｜已验证：多图 + 生成音轨（先上传 2-9 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseMultiAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseMultiAudio_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxProText": {
                    "summary": "LTX 01｜已验证：Pro 纯文本",
                    "value": {
                      "job_id": "vidjob_ltxProText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxProText_example_123",
                      "model": "ltx-2.3-pro",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFastText": {
                    "summary": "LTX 02｜已验证：Fast 纯文本",
                    "value": {
                      "job_id": "vidjob_ltxFastText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFastText_example_123",
                      "model": "ltx-2.3-fast",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFirstFrame": {
                    "summary": "LTX 03｜首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_ltxFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFirstFrame_example_123",
                      "model": "ltx-2.3-fast",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFramesAudio": {
                    "summary": "LTX 04｜已验证：首尾帧 + 生成音轨（先上传 2 图）",
                    "value": {
                      "job_id": "vidjob_ltxFramesAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFramesAudio_example_123",
                      "model": "ltx-2.3-pro",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/videos/jobs": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "列出当前 API Key 创建的视频任务",
        "description": "返回本地持久化任务索引，严格按当前用户、当前 API Key 和当前分组隔离；不会返回共享视频账号中其他客户的任务。默认 50 条，最多 100 条。服务端后台结算器会持续轮询未结算任务；列表请求也会逐项读取最新状态，并会像单任务查询一样推进等待中的自动容灾；一次列表请求最多启动 3 个待切换任务。暂时读不到状态时该项 status=unknown，但 job_id 仍可用于单任务查询。对于支持自动容灾的 seedance-2.0/seedance-2.0-fast 720p 任务，第一次执行失败不是终态，只有两次执行都收到明确失败后，任务才进入最终 failed；后台结算器或列表查询确认该终态后执行幂等退款。容灾不会改变用户提交的 model、job_id 或计费模型。本地媒体准备、账号容量或网络接单状态不确定不会提前退款。直接请求 sd2-mx933 或 sd2-mx933-fast 时没有第二级容灾，该模型任务明确返回 failed 就是终态失败；后台结算器或列表查询确认后执行幂等退款。列表中的 status_url 和完成任务的 mp4_url/url/local_url 都是 /v1 开头的站点相对路径，完整地址固定按 https://tkcreazy.top + 路径计算。",
        "operationId": "listVideoGenerationJobs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "可选，不区分大小写，按接口返回的 status 精确过滤。为了限制上游查询量，过滤范围是当前 Key 最新 100 条任务。",
            "schema": {
              "type": "string"
            },
            "example": "completed"
          }
        ],
        "responses": {
          "200": {
            "description": "当前 Key 的任务列表。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobList"
                },
                "example": {
                  "data": [
                    {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs?limit=20&status=completed' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      }
    },
    "/videos/jobs/{job_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "查询一个视频任务",
        "description": "建议每 3-5 秒查询一次以获取最新状态，但退款不依赖客户持续轮询，服务端后台结算器会持续处理未结算任务。该查询也会自动推进等待中的容灾任务。对 seedance-2.0/seedance-2.0-fast 720p，第一次执行失败不是终态，只有两次执行都明确失败后才返回最终 failed；后台结算器或本接口确认该终态后执行幂等退款。容灾不会改变用户提交的 model、job_id 或计费模型。本地媒体准备、账号容量或网络接单状态不确定不会提前退款。直接请求 sd2-mx933 或 sd2-mx933-fast 时没有第二级容灾，该模型任务明确返回 failed 就是终态失败；后台结算器或本接口确认后执行幂等退款。HTTP 200 只表示本次查询成功，必须以响应体 status 判断生成结果。completed 后读取 result.data[0].mp4_url；failed 时读取 error。mp4_url 是以 /v1 开头的站点相对路径，完整下载地址固定按 https://tkcreazy.top + mp4_url 计算。只有创建该任务的同一个 API Key 能查询。",
        "operationId": "getVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态。HTTP 200 只表示查询接口调用成功，不代表视频生成成功；必须检查响应体 status。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                },
                "examples": {
                  "running": {
                    "summary": "运行中",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "running",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:00:20+08:00"
                    }
                  },
                  "completed": {
                    "summary": "已完成",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  },
                  "failed": {
                    "summary": "失败",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "failed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "error": {
                        "message": "Video generation failed"
                      }
                    }
                  },
                  "mx933Failed": {
                    "summary": "MX933 终态失败（直接请求 933 时由后台结算器或查询接口确认并执行幂等退款）",
                    "value": {
                      "aspect_ratio": "16:9",
                      "created_at": 1785825900,
                      "error": "视频生成失败，请稍后重试",
                      "id": "hqv1_task_example_failed",
                      "job_id": "hqv1_task_example_failed",
                      "model": "sd2-mx933",
                      "object": "video",
                      "progress": 0,
                      "resolution": "720p",
                      "seconds": "10",
                      "status": "failed",
                      "status_url": "/v1/videos/jobs/hqv1_task_example_failed",
                      "task_id": "hqv1_task_example_failed"
                    }
                  },
                  "mx933Completed": {
                    "summary": "MX933 已验证完成响应（经 TKCreazy 服务生成 5 秒 720p 视频）",
                    "value": {
                      "aspect_ratio": "16:9",
                      "completed_at": 1785777546,
                      "created_at": 1785777249,
                      "download_url": "/v1/videos/jobs/hqv1_task_example_123/content",
                      "id": "hqv1_task_example_123",
                      "job_id": "hqv1_task_example_123",
                      "model": "sd2-mx933",
                      "object": "video",
                      "progress": 100,
                      "resolution": "720p",
                      "result": {
                        "data": [
                          {
                            "local_url": "/v1/videos/jobs/hqv1_task_example_123/content",
                            "mp4_url": "/v1/videos/jobs/hqv1_task_example_123/content",
                            "url": "/v1/videos/jobs/hqv1_task_example_123/content"
                          }
                        ]
                      },
                      "seconds": "5",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/hqv1_task_example_123",
                      "task_id": "hqv1_task_example_123",
                      "url": "/v1/videos/jobs/hqv1_task_example_123/content"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      },
      "delete": {
        "tags": [
          "视频生成"
        ],
        "summary": "取消一个视频任务",
        "description": "只有创建该任务的同一个 API Key 能取消。上游接受取消时固定返回 HTTP 204 且没有响应体；任务当前不可取消时返回 HTTP 409。取消成功后服务会执行相应退款处理。",
        "operationId": "cancelVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "204": {
            "description": "取消成功，无响应体。"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -i -X DELETE 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      }
    },
    "/videos/jobs/{job_id}/content": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "下载已完成任务的 MP4",
        "description": "成功响应是 MP4 字节，不是 JSON。必须继续携带 Bearer Key。可直接请求本接口，也可以从查询响应取相对路径后使用 https://tkcreazy.top + 路径。支持 Range，适合播放器在线播放。",
        "operationId": "downloadVideoGenerationResult",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整 MP4。",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 下载成功。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes 0-1023/4429922"
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "416": {
            "description": "Range 超出文件范围。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes */4429922"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "range_not_satisfiable",
                    "message": "Requested byte range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123/content' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -o result.mp4"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "TKCreazy API Key"
      }
    },
    "parameters": {
      "UploadID": {
        "name": "upload_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^sdupl_[A-Za-z0-9_-]+$"
        },
        "example": "sdupl_example_123"
      },
      "JobID": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,255}$"
        },
        "example": "vidjob_example_123"
      },
      "Range": {
        "name": "Range",
        "in": "header",
        "required": false,
        "description": "可选字节范围，例如 bytes=0-1023。",
        "schema": {
          "type": "string"
        },
        "example": "bytes=0-1023"
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "网络重试时可复用同一个值。此 Header 会转发到本次选中的视频账号，但不是跨账号的全局 exactly-once 保证；客户端仍必须保存成功响应中的 job_id。",
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 255
        },
        "example": "order-20260803-000001"
      }
    },
    "schemas": {
      "APIKeyAuthError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "example": "INVALID_API_KEY"
          },
          "message": {
            "type": "string",
            "example": "Invalid API key"
          }
        }
      },
      "VideoAPIError": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "type"
            ],
            "additionalProperties": true,
            "properties": {
              "code": {
                "type": "string",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "example": "request parameters are invalid"
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              }
            }
          }
        }
      },
      "AnyError": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/APIKeyAuthError"
          },
          {
            "$ref": "#/components/schemas/VideoAPIError"
          }
        ]
      },
      "ImageUploadForm": {
        "type": "object",
        "required": [
          "image"
        ],
        "additionalProperties": false,
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "PNG、JPEG 或 WebP；TKCreazy 上传接口最大 10 MiB、最大 8192x8192 且不超过 4000 万像素。MX933 上游虽然允许单张图片不超过 30,000,000 字节，但使用推荐的 TKCreazy 上传流程时实际必须按更严格的 10 MiB 上限执行。"
          }
        }
      },
      "AudioUploadForm": {
        "type": "object",
        "required": [
          "audio"
        ],
        "additionalProperties": false,
        "properties": {
          "audio": {
            "type": "string",
            "format": "binary",
            "description": "音频文件。服务接受 audio/*；为获得稳定的模型兼容性，建议使用 WAV 或 MP3。MX933 参考音频只支持 MP3/WAV，最多 3 个，每个不超过 15,000,000 字节，合计时长不超过 15 秒，并且生成请求中必须同时存在参考图片或参考视频。上传接口本身还受当前部署的网关请求体限制与对象存储限制约束；超过限制返回 413。"
          }
        }
      },
      "VideoUploadForm": {
        "type": "object",
        "required": [
          "video"
        ],
        "additionalProperties": false,
        "properties": {
          "video": {
            "type": "string",
            "format": "binary",
            "description": "视频文件。服务接受 video/*；为获得稳定的模型兼容性，建议使用 MP4。MX933 参考视频只支持 MP4/MOV，最多 3 个，合计不超过 50,000,000 字节，合计时长 2-15 秒，短边 480-720 像素、长边不超过 1280 像素。上传接口本身还受当前部署的网关请求体限制与对象存储限制约束；超过限制返回 413。"
          }
        }
      },
      "Base64ImageUpload": {
        "type": "object",
        "required": [
          "image_base64"
        ],
        "additionalProperties": false,
        "properties": {
          "image_base64": {
            "type": "string",
            "description": "完整 Data URI，或不带前缀的 Base64。使用裸 Base64 时必须填写 content_type。"
          },
          "content_type": {
            "type": "string",
            "enum": [
              "image/png",
              "image/jpeg",
              "image/webp"
            ]
          },
          "filename": {
            "type": "string",
            "example": "reference.png"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "required": [
          "upload_id",
          "media_url",
          "media_type",
          "content_type",
          "size",
          "sha256",
          "expires_at"
        ],
        "properties": {
          "upload_id": {
            "type": "string",
            "example": "sdupl_example_123"
          },
          "media_url": {
            "type": "string",
            "format": "uri",
            "description": "创建视频任务时填写的临时完整 URL。实际主机名和签名参数由对象存储配置决定。"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image",
              "audio",
              "video"
            ]
          },
          "content_type": {
            "type": "string",
            "example": "image/png"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "example": 72396
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "上传记录期限，不等同于 media_url 的签名有效期。"
          }
        }
      },
      "Seedance20Request": {
        "title": "seedance-2.0 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "Seedance 请求。可做纯文本、首帧、首尾帧、多图、参考视频及图片/视频加参考音频。image_reference 不能与首尾帧字段组合；audio_reference 必须搭配 image_reference 或 video_reference_base。",
        "allOf": [
          {
            "not": {
              "required": [
                "resolution",
                "duration"
              ],
              "properties": {
                "resolution": {
                  "enum": [
                    "1080p"
                  ]
                },
                "duration": {
                  "enum": [
                    15
                  ]
                }
              }
            }
          }
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.0"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "只能填写 5、10 或 15；省略时为 5 秒。resolution=1080p 时只允许 5 或 10 秒。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9",
              "9:21"
            ],
            "default": "16:9",
            "description": "720p 不支持 9:21；选择该组合会返回 400。"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否让模型生成同步音轨。省略时为 false；只要填写 guidances.audio_reference，服务会自动按 true 处理。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 这是首帧快捷字段，不能与其他帧字段或 image_reference 同时使用。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧；不能与 image_url 或 image_reference 同时使用。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url 或 guidances.image_reference。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 4,
                "description": "参考图片，最多 4 张。不能与 image_url、start_frame_url 或 end_frame_url 同时使用。",
                "items": {
                  "type": "object",
                  "required": [
                    "image"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "image": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "strength": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH"
                      ],
                      "default": "MID"
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 3
                    }
                  }
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考视频，最多 3 个。可与 image_reference 和 audio_reference 组合。",
                "items": {
                  "type": "object",
                  "required": [
                    "video"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "video": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 2
                    }
                  }
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "description": "参考音频。当前必须同时提供至少一个 image_reference 或 video_reference_base。它不是原音轨直通：若要尽量保留具体音色、节奏、旋律或声音事件，prompt 中必须逐项明确写出要保留的声音特征；只写风格不能保证复现，更不保证逐波形复制。只要填写 audio_reference，服务就会自动开启生成音轨。",
                "items": {
                  "type": "object",
                  "required": [
                    "audio"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "audio": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeedanceFastRequest": {
        "title": "seedance-2.0-fast 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "Seedance 请求。可做纯文本、首帧、首尾帧、多图、参考视频及图片/视频加参考音频。image_reference 不能与首尾帧字段组合；audio_reference 必须搭配 image_reference 或 video_reference_base。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.0-fast"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "只能填写 5、10 或 15；省略时为 5 秒。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9",
              "9:21"
            ],
            "default": "16:9",
            "description": "720p 不支持 9:21；选择该组合会返回 400。"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否让模型生成同步音轨。省略时为 false；只要填写 guidances.audio_reference，服务会自动按 true 处理。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
[...]
