{
  "openapi": "3.0.3",
  "info": {
    "title": "TKCreazy 视频生成 API（Seedance / MX933 / SD 2.5 / Seedance特惠 / HappyHorse / LTX）",
    "version": "2026-08-12.2",
    "license": {
      "name": "LGPL-3.0-only",
      "url": "https://spdx.org/licenses/LGPL-3.0-only.html"
    },
    "description": "这是一份可直接导入 Apifox 的最终完整规范。客户只调用 TKCreazy 公网地址，只需使用公开模型名和本文档定义的统一字段。\n\n固定流程：1）有参考素材时先 POST /videos/uploads；2）把每次上传响应中的完整 media_url 填入 POST /videos/generations；3）保存公开 job_id；4）每 3-5 秒查询任务；5）status=completed 后请求 content 接口下载 MP4。服务端后台结算器会持续处理未结算任务和幂等退款，退款不依赖客户持续轮询。\n\n鉴权：所有接口都使用 Authorization: Bearer <TKCREAZY_API_KEY>。上传响应中的 media_url 是临时签名地址，上传后应立即创建任务，不要长期缓存复用。\n\nURL 规则：创建响应的 status_url 是绝对 URL。任务查询和列表中的 status_url、mp4_url、url、local_url、download_url 都是以 /v1 开头的站点相对路径；完整地址固定为 https://tkcreazy.top + 返回值，不能再拼接 /v1。\n\nSeedance Key 可调用 seedance-2.0、seedance-2.0-fast、seedance-2.0-mini、sd-2.0-mx933、sd-2.5-mx。公开支持矩阵：sd-2.0-mx933 支持 480p 和 720p；sd-2.5-mx 仅支持 720p，duration 支持 5、10、15 或 30 秒，省略时为 5 秒。sd-2.5-mx 支持最多 30 图 / 10 视频 / 10 音频（合计 50）参考素材。创建和查询始终显示客户提交的公开 model。\n\nseedance特惠 Key 可调用 seedance2.0-one-face-reference-480p、seedance2.0-one-face-reference-720p。其中 seedance2.0-one-face-reference-480p 固定 480p、seedance2.0-one-face-reference-720p 固定 720p；duration 支持 4-15 秒，按秒计费。支持纯文生、纯图参考，以及图+视频+音频多模态参考：参考图（含首帧/尾帧）最多 9 张，参考视频最多 3 个，参考音频最多 3 个，全部参考素材（图+视频+音频）合计不超过 12 个；推荐组合如 6 图 + 3 视频 + 3 音频，或 9 图 + 2 视频 + 1 音频。使用 audio_reference 时必须至少 1 张参考图，并在请求顶层显式填写 audio=true；视频/音频对象建议填写真实 duration_seconds。特惠分组与普通 Seedance 分组隔离，请使用对应 API Key，不要混用。\n\nMiniMax Key 可调用 minimax-h3（1440p，时长 5-15 秒，按秒计费；支持首帧/尾帧/参考图/参考音频；原生生成音频）。Grok Imagine Key 可调用 grok-imagine-1.5（720p，时长 3-15 秒，必须提供首帧）。\n\n时长规则：sd-2.5-mx 的 duration 只允许 5、10、15 或 30，省略时为 5；seedance特惠（seedance2.0-one-face-reference-480p / 720p）的 duration 允许 4-15 的任意整数秒，省略时为 5；除此以外，其他 Seedance 新请求的 duration 只允许 5、10 或 15，省略时为 5。minimax-h3 的 duration 允许 5-15 的任意整数秒；grok-imagine-1.5 的 duration 允许 3-15 的任意整数秒。Seedance 分组可由平台管理员显式配置为按次计费：价格由公开 model + resolution 决定，每个输出视频计费一次，duration 不作为价格乘数。旧分组在管理员切换前保留原按秒计费，平台不会强制迁移，避免把历史每秒价格误解释为每次价格；客户请求中不传计费单位。\n\nsd-2.0-mx933 和 sd-2.5-mx 的参考视频与参考音频必须先上传，并在对应 guidance 媒体对象中同时填写完整 media_url 与真实 duration_seconds。sd-2.0-mx933 最多 9 图、3 视频、3 音频、总计 15 个素材，音频与视频分别累计最多 15 秒；sd-2.5-mx 最多 30 图、10 视频、10 音频、总计 50 个素材。使用 audio_reference 时必须搭配普通参考图或参考视频，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用已上传素材编号；未手写时平台会按「参考图→首帧→尾帧」顺序自动注入角色说明，手写编号时平台不再二次定义角色映射。\n\n示例标题中的“已验证”仅用于标记此前已通过 https://tkcreazy.top/v1 取得相应结果的既有示例；本次新增模型示例不使用该标记。"
  },
  "servers": [
    {
      "url": "https://tkcreazy.top/v1",
      "description": "TKCreazy 公网 API"
    }
  ],
  "tags": [
    {
      "name": "视频生成",
      "description": "素材上传、异步视频任务、状态查询、取消和 MP4 下载"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/videos/uploads": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "上传一张图片、一个音频或一个视频素材",
        "description": "每次请求只上传一个文件。图片字段名为 image，音频字段名为 audio，视频字段名为 video。需要多个素材时分别调用多次。成功后把 media_url 原样用于创建任务。application/json 仅支持图片 Base64。",
        "operationId": "uploadVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ImageUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/AudioUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/VideoUploadForm"
                  }
                ]
              },
              "encoding": {
                "image": {
                  "contentType": "image/png, image/jpeg, image/webp"
                },
                "audio": {
                  "contentType": "audio/*"
                },
                "video": {
                  "contentType": "video/*"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ImageUpload"
              },
              "examples": {
                "dataUri": {
                  "value": {
                    "image_base64": "data:image/png;base64,<BASE64_DATA>",
                    "filename": "reference.png"
                  }
                },
                "bareBase64": {
                  "value": {
                    "image_base64": "<BASE64_DATA>",
                    "content_type": "image/png",
                    "filename": "reference.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功。media_url 是创建任务时要填写的值。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                },
                "example": {
                  "upload_id": "sdupl_example_123",
                  "media_url": "https://object-storage.example/video-input.png?temporary-signature=...",
                  "media_type": "image",
                  "content_type": "image/png",
                  "size": 72396,
                  "sha256": "d42c2780ffcedeb699ac245f42118b4ed082e61d1ba7146549b9df08607f2731",
                  "expires_at": "2026-08-04T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "文件超过限制。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "media_too_large",
                    "message": "uploaded media exceeds the configured size limit",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type 不受支持。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "unsupported_media_type",
                    "message": "Content-Type must be multipart/form-data or application/json",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "上传图片",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'image=@./reference.png'"
          },
          {
            "lang": "Shell",
            "label": "上传音频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'audio=@./reference.wav'"
          },
          {
            "lang": "Shell",
            "label": "上传视频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'video=@./reference.mp4'"
          }
        ]
      }
    },
    "/videos/uploads/{upload_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "读取已上传的原始素材",
        "description": "成功响应是原始文件字节，不是 JSON。该接口用于核对上传内容；创建任务仍应填写上传响应中的 media_url。支持 Range。",
        "operationId": "getUploadedVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UploadID"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整原始文件。",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 读取成功。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes 0-1023/72396"
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "416": {
            "description": "Range 超出文件范围。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes */72396"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "range_not_satisfiable",
                    "message": "Requested byte range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/uploads/sdupl_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -o uploaded-file.bin"
          }
        ]
      }
    },
    "/videos/generations": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "创建异步视频生成任务",
        "description": "### 真实调用地址\n\n`POST https://tkcreazy.top/v1/videos/generations`。所有视频模型使用同一个入口，只通过请求体中的 `model` 区分。\n\n### 示例说明\n\n下方只有一套**全参数结构示例**，用于集中展示统一接口支持的字段。它使用 `seedance-2.5-c1-03`，替换素材 URL 后可直接请求；其他模型不一定支持示例中的全部字段或组合。请先查看下表，再删除目标模型不支持的字段并调整取值。\n\n模型所属分组、价格和当前可用状态会动态变化，请前往主站**模型广场**查看；本文档不重复维护分组归属。\n\n### 模型能力与参数限制\n\n| model | resolution | duration | aspect_ratio | 图片/首尾帧 | 参考视频 | 参考音频 | 其他限制 |\n| --- | --- | --- | --- | --- | --- | --- | --- |\n| `seedance-2.5-c1-03` | 480p、720p | 4–30 秒整数 | 16:9、9:16、1:1 | 参考图最多 30；首帧、尾帧各 1 | 最多 10；单个 3–10 秒、24–60 FPS，累计 ≤30 秒 | 最多 10 | 音频参考必须同时提供普通参考图；支持首帧、首尾帧和多模态参考 |\n| `sd-2.0-900-720p` | 固定 720p | 5–15 秒整数 | 固定 16:9 | 仅普通参考图，最多 9 | 不支持 | 不支持 | 不支持首帧、尾帧和生成音频，`audio` 必须为 false 或省略 |\n| `seedance-2.0` | 480p、720p；1080p | 480p/720p：5、10、15；1080p：5、10 | 16:9、9:16、1:1、4:3、3:4、21:9、9:21 | 最多 4，支持首尾帧 | 最多 3 | 最多 1 | 全部素材合计最多 8 |\n| `seedance-2.0-fast` | 480p、720p | 5、10、15 | 同上 | 最多 4，支持首尾帧 | 最多 3 | 最多 1 | 全部素材合计最多 8 |\n| `seedance-2.0-mini` | 480p、720p | 5、10、15 | 16:9、1:1、9:16 | 最多 4，支持首尾帧 | 最多 3 | 最多 1 | 全部素材合计最多 8 |\n| `sd-2.0-mx933` | 480p、720p | 5、10、15 | 16:9、9:16、1:1、4:3、3:4、3:2、2:3 | 含首尾帧最多 9 | 最多 3，累计 ≤15 秒 | 最多 3，累计 ≤15 秒 | 全部素材合计最多 15 |\n| `sd-2.5-mx` | 固定 720p | 5、10、15、30 | 16:9、9:16、1:1、4:3、3:4、21:9 | 含首尾帧最多 30 | 最多 10，累计 ≤30 秒 | 最多 10，累计 ≤30 秒 | 全部素材合计最多 50 |\n| `seedance2.0-one-face-reference-480p` | 固定 480p | 4–15 秒整数 | 21:9、16:9、4:3、1:1、3:4、9:16 | 含首尾帧最多 9 | 最多 3 | 最多 3 | 全部素材合计最多 15；音频参考至少搭配 1 张普通参考图 |\n| `seedance2.0-one-face-reference-720p` | 固定 720p | 4–15 秒整数 | 同上 | 含首尾帧最多 9 | 最多 3 | 最多 3 | 同上 |\n| `minimax-h3` | 固定 1440p | 5–15 秒整数 | 16:9、9:16 | 最多 5，支持首尾帧 | 不支持 | 最多 3 | 全部素材合计最多 8，原生生成音频 |\n| `grok-imagine-1.5` | 固定 720p | 3–15 秒整数 | 16:9、9:16 | 必须提供首帧 | 不支持 | 不支持 | 不支持普通参考图和尾帧 |\n| `happy-horse-1.1` | 720p、1080p | 3–15 秒整数 | 16:9、4:3、1:1、3:4、9:16 | 最多 9，支持首帧 | 不支持 | 不支持参考音频 | 支持生成音频，不支持尾帧 |\n| `ltx-2.3-pro` | 1080p、1440p、2160p | 6、8、10 | 固定 16:9 | 支持首尾帧 | 不支持 | 不支持参考音频 | 支持生成音频 |\n| `ltx-2.3-fast` | 1080p、1440p、2160p | 6–20 秒偶数 | 固定 16:9 | 支持首尾帧 | 不支持 | 不支持参考音频 | 支持生成音频 |\n\n### 参考素材规则\n\n1. 先调用 `POST /videos/uploads`，每次上传一个文件，再把响应中的完整 `media_url` 填入生成请求；不要填写 `upload_id`，不要删除签名参数。\n2. `duration` 是目标视频时长；视频和音频对象中的 `duration_seconds` 是参考文件真实时长，可为小数。\n3. 填写 `end_frame_url` 时必须同时填写 `start_frame_url`；`image_url` 是首帧兼容字段，不能与 `start_frame_url` 同时填写。\n4. 使用 `guidances.audio_reference` 时，顶层必须显式填写 `audio: true`，并满足对应模型的图片/视频搭配条件。\n5. `prompt` 可用 `@ImageN`、`@VideoN`、`@AudioN` 引用素材；数组顺序就是编号顺序。\n\n### 上传字段与生成字段\n\n| 素材 | 上传字段 | 生成字段 |\n| --- | --- | --- |\n| 参考图 | `image` | `guidances.image_reference[].image.url` |\n| 首帧 | `image` | `image_url` 或 `start_frame_url` |\n| 尾帧 | `image` | `end_frame_url` |\n| 参考视频 | `video` | `guidances.video_reference_base[].video.url`、`duration_seconds` |\n| 参考音频 | `audio` | `guidances.audio_reference[].audio.url`、`duration_seconds` |\n\n### 任务生命周期\n\n创建成功固定返回 HTTP 202。保存公开 `job_id`，每 3–5 秒查询 `GET /videos/jobs/{job_id}`。只有 `status=completed` 才代表成功；随后调用 `GET /videos/jobs/{job_id}/content` 下载 MP4。`status=failed` 是终态失败。",
        "operationId": "createVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "description": "必须选择与 model 对应的请求 Schema。sd-2.5-mx 固定使用 720p，duration 只允许整数 5、10、15、30，省略时为 5；除此模型外，其他 Seedance 新请求的 duration 只允许整数 5、10、15，省略时为 5。新 sd-2.0-mx933 的图片合计最多 9 张、视频最多 3 个、音频最多 3 个、全部素材最多 15 个，参考视频累计最多 15 秒且参考音频累计最多 15 秒。新 sd-2.5-mx 的图片合计最多 30 张、视频最多 10 个、音频最多 10 个、全部素材最多 50 个。两个新模型的每个视频和音频 guidance 对象都必须填写正数 duration_seconds；该值是参考文件真实时长，不是目标 duration。使用 audio_reference 时必须搭配普通 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。新模型不支持 prompt_enhance。客户只能传公开 model 和本文档定义的统一字段。",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Seedance20Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceFastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceMiniRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceSD20MX933Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceSD25MXRequest"
                  },
                  {
                    "$ref": "#/components/schemas/HappyHorseRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXProRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXFastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MiniMaxH3Request"
                  },
                  {
                    "$ref": "#/components/schemas/GrokImagineRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceOneFaceReference480pRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceOneFaceReference720pRequest"
                  },
                  {
                    "$ref": "#/components/schemas/Seedance25C103Request"
                  },
                  {
                    "$ref": "#/components/schemas/Seedance900Request"
                  }
                ],
                "discriminator": {
                  "propertyName": "model",
                  "mapping": {
                    "seedance-2.0": "#/components/schemas/Seedance20Request",
                    "seedance-2.0-fast": "#/components/schemas/SeedanceFastRequest",
                    "seedance-2.0-mini": "#/components/schemas/SeedanceMiniRequest",
                    "sd-2.0-mx933": "#/components/schemas/SeedanceSD20MX933Request",
                    "sd-2.5-mx": "#/components/schemas/SeedanceSD25MXRequest",
                    "happy-horse-1.1": "#/components/schemas/HappyHorseRequest",
                    "ltx-2.3-pro": "#/components/schemas/LTXProRequest",
                    "ltx-2.3-fast": "#/components/schemas/LTXFastRequest",
                    "minimax-h3": "#/components/schemas/MiniMaxH3Request",
                    "grok-imagine-1.5": "#/components/schemas/GrokImagineRequest",
                    "seedance2.0-one-face-reference-480p": "#/components/schemas/SeedanceOneFaceReference480pRequest",
                    "seedance2.0-one-face-reference-720p": "#/components/schemas/SeedanceOneFaceReference720pRequest",
                    "seedance-2.5-c1-03": "#/components/schemas/Seedance25C103Request",
                    "sd-2.0-900-720p": "#/components/schemas/Seedance900Request"
                  }
                }
              },
              "examples": {
                "fullParameters": {
                  "summary": "统一全参数结构示例（seedance-2.5-c1-03）",
                  "description": "展示统一接口的全部主要字段。其他模型请按上方能力表删除不支持的字段并调整取值。将 replace.invalid URL 替换为上传接口返回的完整 media_url。",
                  "value": {
                    "model": "seedance-2.5-c1-03",
                    "prompt": "@Image1 是人物外观参考，首帧和尾帧控制镜头起止；参考 @Video1 的运镜，并保留 @Audio1 的节奏和音色。",
                    "resolution": "720p",
                    "duration": 8,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "start_frame_url": "https://replace.invalid/first-frame.png",
                    "end_frame_url": "https://replace.invalid/last-frame.png",
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/reference-image.png"
                          },
                          "order": 0
                        }
                      ],
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/reference-video.mp4",
                            "duration_seconds": 6.5
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/reference-audio.mp3",
                            "duration_seconds": 6.5
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已被服务和上游接受进入异步处理，不代表视频已经生成成功。Location 与 status_url 均指向查询接口；必须继续查询到 completed、failed 或 cancelled。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://tkcreazy.top/v1/videos/jobs/vidjob_example_123"
              },
              "Preference-Applied": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "respond-async"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "任务已受理",
                    "value": {
                      "job_id": "vidjob_example_123456",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_example_123456",
                      "model": "seedance-2.5-c1-03",
                      "resolution": "720p",
                      "duration": 8,
                      "aspect_ratio": "16:9"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/videos/jobs": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "列出当前 API Key 创建的视频任务",
        "description": "返回当前用户、当前 API Key 和当前分组创建的任务，不会混入共享上游账号中其他客户的数据。默认 50 条，最多 100 条。服务端会持续轮询、结算和处理可用的自动容灾，调用方无需依靠列表请求触发退款。暂时无法读取上游状态时可能返回 status=unknown，但公开 job_id 仍可用于单任务查询。任务始终保留客户提交的公开 model 和 job_id；完成后的结果地址为本站 /v1 相对路径。模型所属分组、价格和当前可用状态请前往主站模型广场查看。",
        "operationId": "listVideoGenerationJobs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "可选，不区分大小写，按接口返回的 status 精确过滤。为了限制上游查询量，过滤范围是当前 Key 最新 100 条任务。",
            "schema": {
              "type": "string"
            },
            "example": "completed"
          }
        ],
        "responses": {
          "200": {
            "description": "当前 Key 的任务列表。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobList"
                },
                "example": {
                  "data": [
                    {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs?limit=20&status=completed' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      }
    },
    "/videos/jobs/{job_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "查询一个视频任务",
        "description": "建议每 3-5 秒查询一次。HTTP 200 只表示查询成功，必须以响应体 status 判断任务状态：queued/processing 继续轮询，completed 表示成功，failed 表示终态失败。服务端后台结算器负责未结算任务、自动容灾和幂等退款，不依赖客户持续轮询。响应始终使用公开 job_id 和客户提交的 model，不暴露上游任务号；completed 后可读取 result.data[0].mp4_url，或调用 /videos/jobs/{job_id}/content 下载。只有创建任务的同一个 API Key 能查询。",
        "operationId": "getVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态。HTTP 200 只表示查询接口调用成功，不代表视频生成成功；必须检查响应体 status。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                },
                "examples": {
                  "processing": {
                    "summary": "运行中",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "running",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:00:20+08:00"
                    }
                  },
                  "completed": {
                    "summary": "已完成",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  },
                  "failed": {
                    "summary": "失败",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "failed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "error": {
                        "message": "Video generation failed"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      },
      "delete": {
        "tags": [
          "视频生成"
        ],
        "summary": "取消一个视频任务",
        "description": "只有创建该任务的同一个 API Key 能取消。上游接受取消时固定返回 HTTP 204 且没有响应体；任务当前不可取消时返回 HTTP 409。取消成功后服务会执行相应退款处理。",
        "operationId": "cancelVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "204": {
            "description": "取消成功，无响应体。"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -i -X DELETE 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      }
    },
    "/videos/jobs/{job_id}/content": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "下载已完成任务的 MP4",
        "description": "成功响应是 MP4 字节，不是 JSON。必须继续携带 Bearer Key。可直接请求本接口，也可以从查询响应取相对路径后使用 https://tkcreazy.top + 路径。支持 Range，适合播放器在线播放。",
        "operationId": "downloadVideoGenerationResult",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整 MP4。",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 下载成功。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes 0-1023/4429922"
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "416": {
            "description": "Range 超出文件范围。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes */4429922"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "range_not_satisfiable",
                    "message": "Requested byte range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs/vidjob_example_123/content' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -o result.mp4"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "TKCreazy API Key"
      }
    },
    "parameters": {
      "UploadID": {
        "name": "upload_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^sdupl_[A-Za-z0-9_-]+$"
        },
        "example": "sdupl_example_123"
      },
      "JobID": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,255}$"
        },
        "example": "vidjob_example_123"
      },
      "Range": {
        "name": "Range",
        "in": "header",
        "required": false,
        "description": "可选字节范围，例如 bytes=0-1023。",
        "schema": {
          "type": "string"
        },
        "example": "bytes=0-1023"
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "网络重试时可复用同一个值。此 Header 会转发到本次选中的视频账号，但不是跨账号的全局 exactly-once 保证；客户端仍必须保存成功响应中的 job_id。",
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 255
        },
        "example": "order-20260803-000001"
      }
    },
    "schemas": {
      "APIKeyAuthError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "example": "INVALID_API_KEY"
          },
          "message": {
            "type": "string",
            "example": "Invalid API key"
          }
        }
      },
      "VideoAPIError": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "type"
            ],
            "additionalProperties": true,
            "properties": {
              "code": {
                "type": "string",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "example": "request parameters are invalid"
              },
              "type": {
                "type": "string",
                "example": "invalid_request_error"
              }
            }
          }
        }
      },
      "AnyError": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/APIKeyAuthError"
          },
          {
            "$ref": "#/components/schemas/VideoAPIError"
          }
        ]
      },
      "ImageUploadForm": {
        "type": "object",
        "required": [
          "image"
        ],
        "additionalProperties": false,
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "PNG、JPEG 或 WebP；TKCreazy 上传接口单张图片最大 30,000,000 字节（与 MX933/Huiqu 上游一致），最大 8192x8192 且不超过 4000 万像素。"
          }
        }
      },
      "AudioUploadForm": {
        "type": "object",
        "required": [
          "audio"
        ],
        "additionalProperties": false,
        "properties": {
          "audio": {
            "type": "string",
            "format": "binary",
            "description": "音频文件。服务接受 audio/*；为获得稳定的模型兼容性，建议使用 WAV 或 MP3。MX933 参考音频只支持 MP3/WAV，最多 3 个，每个不超过 15,000,000 字节，合计时长不超过 15 秒，并且生成请求中必须同时存在参考图片或参考视频。上传接口本身还受当前部署的网关请求体限制与对象存储限制约束；超过限制返回 413。"
          }
        }
      },
      "VideoUploadForm": {
        "type": "object",
        "required": [
          "video"
        ],
        "additionalProperties": false,
        "properties": {
          "video": {
            "type": "string",
            "format": "binary",
            "description": "视频文件。服务接受 video/*；为获得稳定的模型兼容性，建议使用 MP4。MX933 参考视频只支持 MP4/MOV，最多 3 个，合计不超过 50,000,000 字节，合计时长 2-15 秒，短边 480-720 像素、长边不超过 1280 像素。上传接口本身还受当前部署的网关请求体限制与对象存储限制约束；超过限制返回 413。"
          }
        }
      },
      "Base64ImageUpload": {
        "type": "object",
        "required": [
          "image_base64"
        ],
        "additionalProperties": false,
        "properties": {
          "image_base64": {
            "type": "string",
            "description": "完整 Data URI，或不带前缀的 Base64。使用裸 Base64 时必须填写 content_type。"
          },
          "content_type": {
            "type": "string",
            "enum": [
              "image/png",
              "image/jpeg",
              "image/webp"
            ]
          },
          "filename": {
            "type": "string",
            "example": "reference.png"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "required": [
          "upload_id",
          "media_url",
          "media_type",
          "content_type",
          "size",
          "sha256",
          "expires_at"
        ],
        "properties": {
          "upload_id": {
            "type": "string",
            "example": "sdupl_example_123"
          },
          "media_url": {
            "type": "string",
            "format": "uri",
            "description": "创建视频任务时填写的临时完整 URL。实际主机名和签名参数由对象存储配置决定。"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image",
              "audio",
              "video"
            ]
          },
          "content_type": {
            "type": "string",
            "example": "image/png"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "example": 72396
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "上传记录期限，不等同于 media_url 的签名有效期。"
          }
        }
      },
      "Seedance20Request": {
        "title": "seedance-2.0 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "Seedance 请求。可做纯文本、首帧、首尾帧、多图、参考视频及图片/视频加参考音频。image_reference 不能与首尾帧字段组合；audio_reference 必须搭配 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "allOf": [
          {
            "not": {
              "required": [
                "resolution",
                "duration"
              ],
              "properties": {
                "resolution": {
                  "enum": [
                    "1080p"
                  ]
                },
                "duration": {
                  "enum": [
                    15
                  ]
                }
              }
            }
          }
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.0"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。使用参考音频时，必须明确写出要保留的音色、语言内容、节奏、旋律或声音事件。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "只能填写 5、10 或 15；省略时为 5 秒。resolution=1080p 时只允许 5 或 10 秒。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9",
              "9:21"
            ],
            "default": "16:9",
            "description": "720p 不支持 9:21；选择该组合会返回 400。"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否让模型生成同步音轨。省略时为 false；填写 guidances.audio_reference 时必须显式填写 true，否则请求会返回 400 参数错误。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 这是首帧快捷字段，不能与其他帧字段或 image_reference 同时使用。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧；不能与 image_url 或 image_reference 同时使用。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url 或 guidances.image_reference。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 4,
                "description": "参考图片，最多 4 张。不能与 image_url、start_frame_url 或 end_frame_url 同时使用。",
                "items": {
                  "type": "object",
                  "required": [
                    "image"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "image": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "strength": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH"
                      ],
                      "default": "MID"
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 3
                    }
                  }
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考视频，最多 3 个。可与 image_reference 和 audio_reference 组合。",
                "items": {
                  "type": "object",
                  "required": [
                    "video"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "video": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 2
                    }
                  }
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "description": "参考音频。当前必须同时提供至少一个 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true，否则请求会返回 400 参数错误。它不是原音轨直通：若要尽量保留具体音色、节奏、旋律或声音事件，prompt 中必须逐项明确写出要保留的声音特征；只写风格不能保证复现，更不保证逐波形复制。",
                "items": {
                  "type": "object",
                  "required": [
                    "audio"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "audio": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeedanceFastRequest": {
        "title": "seedance-2.0-fast 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "Seedance 请求。可做纯文本、首帧、首尾帧、多图、参考视频及图片/视频加参考音频。image_reference 不能与首尾帧字段组合；audio_reference 必须搭配 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.0-fast"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。使用参考音频时，必须明确写出要保留的音色、语言内容、节奏、旋律或声音事件。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "只能填写 5、10 或 15；省略时为 5 秒。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9",
              "9:21"
            ],
            "default": "16:9",
            "description": "720p 不支持 9:21；选择该组合会返回 400。"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否让模型生成同步音轨。省略时为 false；填写 guidances.audio_reference 时必须显式填写 true，否则请求会返回 400 参数错误。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 这是首帧快捷字段，不能与其他帧字段或 image_reference 同时使用。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧；不能与 image_url 或 image_reference 同时使用。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url 或 guidances.image_reference。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 4,
                "description": "参考图片，最多 4 张。不能与 image_url、start_frame_url 或 end_frame_url 同时使用。",
                "items": {
                  "type": "object",
                  "required": [
                    "image"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "image": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "strength": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH"
                      ],
                      "default": "MID"
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 3
                    }
                  }
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考视频，最多 3 个。可与 image_reference 和 audio_reference 组合。",
                "items": {
                  "type": "object",
                  "required": [
                    "video"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "video": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 2
                    }
                  }
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "description": "参考音频。当前必须同时提供至少一个 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true，否则请求会返回 400 参数错误。它不是原音轨直通：若要尽量保留具体音色、节奏、旋律或声音事件，prompt 中必须逐项明确写出要保留的声音特征；只写风格不能保证复现，更不保证逐波形复制。",
                "items": {
                  "type": "object",
                  "required": [
                    "audio"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "audio": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeedanceMiniRequest": {
        "title": "seedance-2.0-mini 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "Seedance 请求。可做纯文本、首帧、首尾帧、多图、参考视频及图片/视频加参考音频。image_reference 不能与首尾帧字段组合；audio_reference 必须搭配 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.0-mini"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。使用参考音频时，必须明确写出要保留的音色、语言内容、节奏、旋律或声音事件。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "只能填写 5、10 或 15；省略时为 5 秒。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "1:1",
              "9:16"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否让模型生成同步音轨。省略时为 false；填写 guidances.audio_reference 时必须显式填写 true，否则请求会返回 400 参数错误。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 这是首帧快捷字段，不能与其他帧字段或 image_reference 同时使用。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧；不能与 image_url 或 image_reference 同时使用。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url 或 guidances.image_reference。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 4,
                "description": "参考图片，最多 4 张。不能与 image_url、start_frame_url 或 end_frame_url 同时使用。",
                "items": {
                  "type": "object",
                  "required": [
                    "image"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "image": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "strength": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH"
                      ],
                      "default": "MID"
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 3
                    }
                  }
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考视频，最多 3 个。可与 image_reference 和 audio_reference 组合。",
                "items": {
                  "type": "object",
                  "required": [
                    "video"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "video": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 2
                    }
                  }
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 1,
                "description": "参考音频。当前必须同时提供至少一个 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true，否则请求会返回 400 参数错误。它不是原音轨直通：若要尽量保留具体音色、节奏、旋律或声音事件，prompt 中必须逐项明确写出要保留的声音特征；只写风格不能保证复现，更不保证逐波形复制。",
                "items": {
                  "type": "object",
                  "required": [
                    "audio"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "audio": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeedanceProductImageReference": {
        "title": "Seedance 扩展模型图片参考",
        "type": "object",
        "required": [
          "image"
        ],
        "additionalProperties": false,
        "properties": {
          "image": {
            "type": "object",
            "required": [
              "url"
            ],
            "additionalProperties": false,
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，不要删除签名参数。"
              },
              "type": {
                "type": "string",
                "enum": [
                  "UPLOADED"
                ],
                "default": "UPLOADED"
              }
            }
          },
          "order": {
            "type": "integer",
            "minimum": 0,
            "description": "图片参考顺序，从 0 开始。省略时按数组中的先后顺序处理。"
          }
        }
      },
      "SeedanceTimedVideoReference": {
        "title": "Seedance 扩展模型视频参考",
        "type": "object",
        "required": [
          "video"
        ],
        "additionalProperties": false,
        "properties": {
          "video": {
            "type": "object",
            "required": [
              "url",
              "duration_seconds"
            ],
            "additionalProperties": false,
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，不要删除签名参数。"
              },
              "type": {
                "type": "string",
                "enum": [
                  "UPLOADED"
                ],
                "default": "UPLOADED"
              },
              "duration_seconds": {
                "type": "number",
                "format": "double",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "必填。填写这个参考视频文件的真实时长（秒，可为小数），不是目标视频的 duration。上传接口不会代填此值。"
              }
            }
          }
        }
      },
      "SeedanceTimedAudioReference": {
        "title": "Seedance 扩展模型音频参考",
        "type": "object",
        "required": [
          "audio"
        ],
        "additionalProperties": false,
        "properties": {
          "audio": {
            "type": "object",
            "required": [
              "url",
              "duration_seconds"
            ],
            "additionalProperties": false,
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，不要删除签名参数。"
              },
              "type": {
                "type": "string",
                "enum": [
                  "UPLOADED"
                ],
                "default": "UPLOADED"
              },
              "duration_seconds": {
                "type": "number",
                "format": "double",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "必填。填写这个参考音频文件的真实时长（秒，可为小数），不是目标视频的 duration。上传接口不会代填此值。"
              }
            }
          }
        }
      },
      "SeedanceSD20MX933Request": {
        "title": "sd-2.0-mx933 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "公开模型 sd-2.0-mx933 支持 resolution=480p 或 720p，客户端只传本文档定义的统一公开字段。只有 Key 所属 Seedance 分组显式启用按次计费时，该模型才按 model + resolution 的单次价格、每个输出视频计费，duration 不作为价格乘数；旧分组切换前仍按秒计费。支持纯文本、首帧、首尾帧、多图、参考视频和参考音频；不支持 prompt_enhance。首帧、尾帧与普通参考图合计最多 9 张，视频最多 3 个，音频最多 3 个，全部素材合计最多 15 个。参考视频累计最多 15 秒，参考音频累计最多 15 秒；每个视频和音频对象都必须填写实际 duration_seconds。尾帧必须搭配首帧。参考音频必须搭配至少一个普通 image_reference 或 video_reference_base，只有首尾帧不满足条件，并且必须在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "example": {
          "model": "sd-2.0-mx933",
          "prompt": "清晨的滨海公路上，一辆银色电动汽车平稳驶过，镜头连续跟拍，无字幕，无水印。",
          "resolution": "480p",
          "duration": 5,
          "aspect_ratio": "16:9",
          "audio": false
        },
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "sd-2.0-mx933"
            ],
            "description": "固定填写 sd-2.0-mx933。"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "必填。可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。使用参考音频时要明确写出需要保留的音色、语言内容、节奏、旋律或声音事件。使用大量素材时建议给平台自动约束预留字符空间。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p"
            ],
            "default": "720p",
            "description": "支持 480p 和 720p；省略时为 720p。"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15
            ],
            "default": 5,
            "description": "目标视频时长，只能填整数 5、10 或 15；省略时为 5。在显式启用按次计费的分组中，不乘以此秒数；旧分组切换前仍按秒计费。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否请求输出同步音轨。使用 audio_reference 时必须显式填写 true；参考音频不会自动开启音轨。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧快捷字段。填写 POST /videos/uploads 返回的完整 media_url；不能与 start_frame_url 或 end_frame_url 同时填写，可以与 guidances.image_reference 组合。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧。填写 POST /videos/uploads 返回的完整 media_url；不能与 image_url 同时填写，可以与 end_frame_url 和 guidances.image_reference 组合。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "尾帧。填写 POST /videos/uploads 返回的完整 media_url；必须同时填写 start_frame_url，可以与 guidances.image_reference 组合。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 9,
                "description": "普通参考图最多 9 张；与首帧、尾帧合计不能超过 9 张。可与首尾帧、视频参考和音频参考组合。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceProductImageReference"
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考视频最多 3 个，所有参考视频的 duration_seconds 合计不能超过 15。每个视频都要先上传并填写上传响应中的完整 media_url。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceTimedVideoReference"
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "description": "参考音频最多 3 个，所有参考音频的 duration_seconds 合计不能超过 15。必须同时存在至少一个普通 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceTimedAudioReference"
                }
              }
            },
            "description": "图片、视频、音频和首尾帧全部素材合计最多 15 个。数组顺序就是参考顺序。"
          }
        }
      },
      "SeedanceSD25MXRequest": {
        "title": "sd-2.5-mx 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "【官方渠道】公开模型 sd-2.5-mx 为官方渠道。仅支持 resolution=720p；duration 只允许 5、10、15、30，省略时为 5。客户端只传本文档定义的统一公开字段。只有 Key 所属 Seedance 分组显式启用按次计费时，该模型才按 model + resolution 的单次价格、每个输出视频计费，四个时长档位使用同一单次价格；旧分组切换前仍按实际时长按秒计费。支持纯文本、首帧、首尾帧、多图、参考视频和参考音频；不支持 prompt_enhance。首帧、尾帧与普通参考图合计最多 30 张，视频最多 10 个，音频最多 10 个，全部素材合计最多 50 个。每个视频和音频对象都必须填写实际 duration_seconds。尾帧必须搭配首帧。参考音频必须搭配至少一个普通 image_reference 或 video_reference_base，只有首尾帧不满足条件，并且必须在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "example": {
          "model": "sd-2.5-mx",
          "prompt": "傍晚的现代美术馆中，一名舞者连续旋转，镜头沿弧线平稳环绕，无字幕，无水印。",
          "resolution": "720p",
          "duration": 5,
          "aspect_ratio": "16:9",
          "audio": true
        },
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "sd-2.5-mx"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 30000,
            "description": "必填。可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。使用参考音频时要明确写出需要保留的音色、语言内容、节奏、旋律或声音事件。使用大量素材时建议给平台自动约束预留字符空间。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p"
            ],
            "default": "720p",
            "description": "固定填写 720p。"
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10,
              15,
              30
            ],
            "default": 5,
            "description": "目标视频时长只允许整数 5、10、15 或 30；省略时为 5。其他值会直接返回参数错误。在显式启用按次计费的分组中，四个时长档位使用同一单次价格；旧分组切换前仍按实际时长按秒计费。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否请求输出同步音轨。使用 audio_reference 时必须显式填写 true；参考音频不会自动开启音轨。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧快捷字段。填写 POST /videos/uploads 返回的完整 media_url；不能与 start_frame_url 或 end_frame_url 同时填写，可以与 guidances.image_reference 组合。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧。填写 POST /videos/uploads 返回的完整 media_url；不能与 image_url 同时填写，可以与 end_frame_url 和 guidances.image_reference 组合。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "尾帧。填写 POST /videos/uploads 返回的完整 media_url；必须同时填写 start_frame_url，可以与 guidances.image_reference 组合。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 30,
                "description": "普通参考图最多 30 张；与首帧、尾帧合计不能超过 30 张。可与首尾帧、视频参考和音频参考组合。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceProductImageReference"
                }
              },
              "video_reference_base": {
                "type": "array",
                "minItems": 1,
                "maxItems": 10,
                "description": "参考视频最多 10 个。每个视频都要先上传，填写上传响应中的完整 media_url 和文件真实 duration_seconds。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceTimedVideoReference"
                }
              },
              "audio_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 10,
                "description": "参考音频最多 10 个。每个音频都要先上传并填写文件真实 duration_seconds；必须同时存在至少一个普通 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。",
                "items": {
                  "$ref": "#/components/schemas/SeedanceTimedAudioReference"
                }
              }
            },
            "description": "图片、视频、音频和首尾帧全部素材合计最多 50 个。数组顺序就是参考顺序。"
          }
        }
      },
      "HappyHorseRequest": {
        "title": "happy-horse-1.1 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "HappyHorse 请求。支持纯文本、单首帧或最多 9 张参考图，也支持 audio=true 生成同步音轨；不支持尾帧、参考视频或参考音频。首帧和多图不能同时使用。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "happy-horse-1.1"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2500
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p"
            ],
            "default": "1080p"
          },
          "duration": {
            "type": "integer",
            "minimum": 3,
            "maximum": 15,
            "default": 5
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否生成同步音轨。必须显式填写 true 才会请求音轨。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 首帧快捷字段，不能与 start_frame_url 或 guidances.image_reference 同时使用。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧，不能与 image_url 或 guidances.image_reference 同时使用。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "minItems": 1,
                "maxItems": 9,
                "description": "参考图片，最多 9 张。不能与 image_url、start_frame_url 或 end_frame_url 同时使用。",
                "items": {
                  "type": "object",
                  "required": [
                    "image"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "image": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "UPLOADED"
                          ],
                          "default": "UPLOADED"
                        }
                      }
                    },
                    "strength": {
                      "type": "string",
                      "enum": [
                        "LOW",
                        "MID",
                        "HIGH"
                      ],
                      "default": "MID"
                    },
                    "order": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 8
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LTXProRequest": {
        "title": "ltx-2.3-pro 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "LTX 请求。支持纯文本、首帧、首尾帧和模型生成同步音轨；不支持多图、参考视频或参考音频。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "ltx-2.3-pro"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1080p",
              "1440p",
              "2160p"
            ],
            "default": "1080p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              6,
              8,
              10
            ],
            "default": 6
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否生成同步音轨。必须显式填写 true 才会请求音轨。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 首帧快捷字段，不能与 start_frame_url 或 end_frame_url 同时填写。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧，不能与 image_url 同时填写。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url。"
          }
        }
      },
      "LTXFastRequest": {
        "title": "ltx-2.3-fast 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "LTX 请求。支持纯文本、首帧、首尾帧和模型生成同步音轨；不支持多图、参考视频或参考音频。",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "ltx-2.3-fast"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1080p",
              "1440p",
              "2160p"
            ],
            "default": "1080p"
          },
          "duration": {
            "type": "integer",
            "enum": [
              6,
              8,
              10,
              12,
              14,
              16,
              18,
              20
            ],
            "default": 6
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否生成同步音轨。必须显式填写 true 才会请求音轨。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔值 true/false 等价于 ON/OFF；Seedance 也接受 AUTO/ON/OFF。省略时由模型上游默认策略处理。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 首帧快捷字段，不能与 start_frame_url 或 end_frame_url 同时填写。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选首帧，不能与 image_url 同时填写。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必须填写 POST /videos/uploads 返回的完整 media_url；不要填写 upload_id，也不要手工删除签名参数。 可选尾帧；填写时必须同时填写 start_frame_url，且不能填写 image_url。"
          }
        }
      },
      "CreateJobResponse": {
        "type": "object",
        "required": [
          "job_id",
          "status",
          "status_url"
        ],
        "additionalProperties": true,
        "properties": {
          "job_id": {
            "type": "string",
            "example": "vidjob_example_123"
          },
          "status": {
            "type": "string",
            "example": "pending",
            "description": "任务刚创建时通常为 queued 或 pending；若上游在创建响应中返回状态，服务会原样返回该值。"
          },
          "status_url": {
            "type": "string",
            "format": "uri",
            "example": "https://tkcreazy.top/v1/videos/jobs/vidjob_example_123",
            "description": "创建响应中固定为绝对 URL。"
          },
          "model": {
            "type": "string"
          },
          "created_at": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "integer",
                "format": "int64"
              }
            ],
            "description": "普通任务创建响应通常使用 ISO 8601 时间；MX933 创建响应使用 Unix 秒时间戳。"
          },
          "resolution": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "aspect_ratio": {
            "type": "string"
          }
        }
      },
      "VideoResultFile": {
        "type": "object",
        "required": [
          "mp4_url",
          "url",
          "local_url"
        ],
        "additionalProperties": true,
        "properties": {
          "mp4_url": {
            "type": "string",
            "example": "/v1/videos/jobs/vidjob_example_123/content",
            "description": "站点相对路径；完整地址为 https://tkcreazy.top + 此值。"
          },
          "url": {
            "type": "string",
            "example": "/v1/videos/jobs/vidjob_example_123/content",
            "description": "与 mp4_url 指向同一下载接口。"
          },
          "local_url": {
            "type": "string",
            "example": "/v1/videos/jobs/vidjob_example_123/content",
            "description": "与 mp4_url 指向同一下载接口。"
          },
          "thumbnail_url": {
            "type": "string",
            "format": "uri",
            "description": "可选缩略图地址；上游未提供时该字段不存在。"
          }
        }
      },
      "VideoJob": {
        "type": "object",
        "required": [
          "job_id",
          "status",
          "status_url"
        ],
        "additionalProperties": true,
        "properties": {
          "job_id": {
            "type": "string",
            "example": "vidjob_example_123"
          },
          "status": {
            "type": "string",
            "description": "常见值：queued、pending、running、completed、failed、cancelled。任务索引能找到记录但暂时无法读取上游状态时返回 unknown。",
            "example": "completed"
          },
          "status_url": {
            "type": "string",
            "example": "/v1/videos/jobs/vidjob_example_123",
            "description": "站点相对路径；完整地址为 https://tkcreazy.top + 此值。"
          },
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "created_at": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "integer",
                "format": "int64"
              }
            ],
            "description": "普通任务可能返回 ISO 8601 时间；MX933 返回 Unix 秒时间戳。"
          },
          "updated_at": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "integer",
                "format": "int64"
              }
            ],
            "description": "普通任务可能返回 ISO 8601 时间；MX933 返回 Unix 秒时间戳。"
          },
          "completed_at": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "integer",
                "format": "int64"
              }
            ],
            "description": "普通任务可能返回 ISO 8601 时间；MX933 返回 Unix 秒时间戳。"
          },
          "result": {
            "type": "object",
            "properties": {
              "created": {
                "type": "integer",
                "format": "int64"
              },
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/VideoResultFile"
                }
              }
            },
            "additionalProperties": true
          },
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ],
            "description": "终态失败的 error 可能是字符串或结构化对象；客户端应同时兼容这两种形态。"
          },
          "id": {
            "type": "string",
            "description": "部分兼容模型任务可能返回；经过平台规范化后与公开 job_id 相同。"
          },
          "task_id": {
            "type": "string",
            "description": "部分兼容模型任务可能返回；经过平台规范化后与公开 job_id 相同。"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "seconds": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "上游 MX933 响应中的 seconds 字段（实际生成秒数）；客户端请求仍使用公开字段 duration。"
          },
          "resolution": {
            "type": "string"
          },
          "aspect_ratio": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "完成后返回以 /v1 开头的本站相对下载路径；完整地址为 https://tkcreazy.top + 此值。"
          },
          "download_url": {
            "type": "string",
            "description": "完成后返回以 /v1 开头的本站相对下载路径；完整地址为 https://tkcreazy.top + 此值。"
          }
        }
      },
      "VideoJobList": {
        "type": "object",
        "required": [
          "data"
        ],
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoJob"
            }
          }
        }
      },
      "MiniMaxH3Request": {
        "title": "minimax-h3 请求",
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": false,
        "description": "MiniMax H3 公开模型 minimax-h3。仅支持 resolution=1440p；duration 为 5-15 的整数秒。宽高比支持 16:9 与 9:16。支持纯文本、首帧、首尾帧、最多 5 张参考图、最多 3 个参考音频；不支持参考视频。该模型始终生成原生音频；请求中的 audio 字段可省略（平台按 true 处理）。计费通常按秒：费用 ≈ 单价 × duration。尾帧必须搭配首帧。prompt 可手写 @ImageN/@AudioN 引用素材编号；未手写时平台按上传顺序自动注入。",
        "example": {
          "model": "minimax-h3",
          "prompt": "一位年轻女子缓步走向窗边，阳光洒落，镜头缓慢跟随，电影感。",
          "resolution": "1440p",
          "duration": 5,
          "aspect_ratio": "16:9",
          "audio": true
        },
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "minimax-h3"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "提示词。可手写 @ImageN 或 @AudioN 引用素材编号；未手写时平台按上传顺序自动注入。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1440p"
            ],
            "default": "1440p",
            "description": "固定填写 1440p。"
          },
          "duration": {
            "type": "integer",
            "minimum": 5,
            "maximum": 15,
            "default": 8,
            "description": "目标视频时长，整数 5-15 秒。按秒计费时为价格乘数。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": true,
            "description": "H3 始终生成原生音频；可省略。使用 audio_reference 时建议显式 true。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧兼容字段。填写 POST /videos/uploads 返回的完整 media_url。不可与 start_frame_url 同时填写。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧。填写 POST /videos/uploads 返回的完整 media_url。"
          },
          "end_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "尾帧。必须同时提供 start_frame_url 或 image_url。"
          },
          "guidances": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "image_reference": {
                "type": "array",
                "maxItems": 5,
                "items": {
                  "$ref": "#/components/schemas/SeedanceProductImageReference"
                }
              },
              "audio_reference": {
                "type": "array",
                "maxItems": 3,
                "items": {
                  "$ref": "#/components/schemas/SeedanceTimedAudioReference"
                }
              }
            }
          }
        }
      },
      "GrokImagineRequest": {
        "title": "grok-imagine-1.5 请求",
        "type": "object",
        "required": [
          "model",
          "prompt",
          "start_frame_url"
        ],
        "additionalProperties": false,
        "description": "Grok Imagine 公开模型 grok-imagine-1.5。仅支持 resolution=720p；duration 为 3-15 的整数秒。必须提供首帧（start_frame_url 或 image_url）。不支持尾帧、多图参考、参考视频、参考音频。宽高比支持 16:9 与 9:16。可开启 audio 生成同步音轨。",
        "example": {
          "model": "grok-imagine-1.5",
          "prompt": "Keep the subject identity, slow cinematic push-in, natural daylight.",
          "resolution": "720p",
          "duration": 6,
          "aspect_ratio": "16:9",
          "start_frame_url": "https://tkcreazy.top/v1/videos/uploads/file-xxx?token=...",
          "audio": true
        },
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "grok-imagine-1.5"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2500
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p"
            ],
            "default": "720p"
          },
          "duration": {
            "type": "integer",
            "minimum": 3,
            "maximum": 15,
            "default": 6
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16"
            ],
            "default": "16:9"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否生成同步音轨。需要显式填写 true 才会生成音频。"
          },
          "prompt_enhance": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "AUTO",
                  "ON",
                  "OFF"
                ]
              }
            ],
            "description": "可选。布尔 true/false 等价于 ON/OFF。"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "首帧兼容字段。填写 uploads 返回的完整 media_url。不可与 start_frame_url 同时填写。"
          },
          "start_frame_url": {
            "type": "string",
            "format": "uri",
            "description": "必填首帧。填写 uploads 返回的完整 media_url。"
          }
        }
      },
      "SeedanceOneFaceReference480pRequest": {
        "title": "seedance2.0-one-face-reference-480p 请求",
        "type": "object",
        "required": [
          "model",
          "prompt",
          "guidances"
        ],
        "additionalProperties": false,
[...]
