{
  "openapi": "3.0.3",
  "info": {
    "title": "TKCreazy 视频生成 API（Seedance / MX933 / SD 2.5 / 单人脸参考特惠 / HappyHorse / LTX）",
    "version": "2026-08-12.1",
    "license": {
      "name": "LGPL-3.0-only",
      "url": "https://spdx.org/licenses/LGPL-3.0-only.html"
    },
    "description": "这是一份可直接导入 Apifox 的最终完整规范。客户只调用 TKCreazy 公网地址，只需使用公开模型名和本文档定义的统一字段。\n\n固定流程：1）有参考素材时先 POST /videos/uploads；2）把每次上传响应中的完整 media_url 填入 POST /videos/generations；3）保存公开 job_id；4）每 3-5 秒查询任务；5）status=completed 后请求 content 接口下载 MP4。服务端后台结算器会持续处理未结算任务和幂等退款，退款不依赖客户持续轮询。\n\n鉴权：所有接口都使用 Authorization: Bearer <TKCREAZY_API_KEY>。上传响应中的 media_url 是临时签名地址，上传后应立即创建任务，不要长期缓存复用。\n\nURL 规则：创建响应的 status_url 是绝对 URL。任务查询和列表中的 status_url、mp4_url、url、local_url、download_url 都是以 /v1 开头的站点相对路径；完整地址固定为 https://tkcreazy.top + 返回值，不能再拼接 /v1。\n\nSeedance Key 可调用 seedance-2.0、seedance-2.0-fast、seedance-2.0-mini、sd-2.0-mx933、sd-2.5-mx、sd-2.5-mx-2000、seedance2.0-one-face-reference-480p、seedance2.0-one-face-reference-720p。其中 seedance2.0-one-face-reference-480p 固定 480p、seedance2.0-one-face-reference-720p 固定 720p；duration 支持 4-15 秒，按秒计费；面向单人脸参考，建议提供带人脸的参考图；不支持生成音轨与 audio_reference；全部参考素材合计不超过 12。公开支持矩阵：sd-2.0-mx933 支持 480p 和 720p；sd-2.5-mx（官方渠道）与 sd-2.5-mx-2000（非官方渠道）均仅支持 720p，duration 支持 5、10、15 或 30 秒，省略时为 5 秒。两者均支持最多 30 图 / 10 视频 / 10 音频（合计 50）参考素材。创建和查询始终显示客户提交的公开 model。\n\nMiniMax Key 可调用 minimax-h3（1440p，时长 5-15 秒，按秒计费；支持首帧/尾帧/参考图/参考音频；原生生成音频）。Grok Imagine Key 可调用 grok-imagine-1.5（720p，时长 3-15 秒，必须提供首帧）。\n\n时长规则：sd-2.5-mx 与 sd-2.5-mx-2000 的 duration 只允许 5、10、15 或 30，省略时为 5；除此两模型外，其他 Seedance 新请求的 duration 只允许 5、10 或 15，省略时为 5。minimax-h3 的 duration 允许 5-15 的任意整数秒；grok-imagine-1.5 的 duration 允许 3-15 的任意整数秒。Seedance 分组可由平台管理员显式配置为按次计费：价格由公开 model + resolution 决定，每个输出视频计费一次，duration 不作为价格乘数。旧分组在管理员切换前保留原按秒计费，平台不会强制迁移，避免把历史每秒价格误解释为每次价格；客户请求中不传计费单位。\n\nsd-2.0-mx933、sd-2.5-mx 和 sd-2.5-mx-2000 的参考视频与参考音频必须先上传，并在对应 guidance 媒体对象中同时填写完整 media_url 与真实 duration_seconds。sd-2.0-mx933 最多 9 图、3 视频、3 音频、总计 15 个素材，音频与视频分别累计最多 15 秒；sd-2.5-mx（官方）与 sd-2.5-mx-2000（非官方）均最多 30 图、10 视频、10 音频、总计 50 个素材。使用 audio_reference 时必须搭配普通参考图或参考视频，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用已上传素材编号；未手写时平台会按「参考图→首帧→尾帧」顺序自动注入角色说明，手写编号时平台不再二次定义角色映射。\n\n示例标题中的“已验证”仅用于标记此前已通过 https://tkcreazy.top/v1 取得相应结果的既有示例；本次新增模型示例不使用该标记。"
  },
  "servers": [
    {
      "url": "https://tkcreazy.top/v1",
      "description": "TKCreazy 公网 API"
    }
  ],
  "tags": [
    {
      "name": "视频生成",
      "description": "素材上传、异步视频任务、状态查询、取消和 MP4 下载"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/videos/uploads": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "上传一张图片、一个音频或一个视频素材",
        "description": "每次请求只上传一个文件。图片字段名为 image，音频字段名为 audio，视频字段名为 video。需要多个素材时分别调用多次。成功后把 media_url 原样用于创建任务。application/json 仅支持图片 Base64。",
        "operationId": "uploadVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ImageUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/AudioUploadForm"
                  },
                  {
                    "$ref": "#/components/schemas/VideoUploadForm"
                  }
                ]
              },
              "encoding": {
                "image": {
                  "contentType": "image/png, image/jpeg, image/webp"
                },
                "audio": {
                  "contentType": "audio/*"
                },
                "video": {
                  "contentType": "video/*"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ImageUpload"
              },
              "examples": {
                "dataUri": {
                  "value": {
                    "image_base64": "data:image/png;base64,<BASE64_DATA>",
                    "filename": "reference.png"
                  }
                },
                "bareBase64": {
                  "value": {
                    "image_base64": "<BASE64_DATA>",
                    "content_type": "image/png",
                    "filename": "reference.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功。media_url 是创建任务时要填写的值。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                },
                "example": {
                  "upload_id": "sdupl_example_123",
                  "media_url": "https://object-storage.example/video-input.png?temporary-signature=...",
                  "media_type": "image",
                  "content_type": "image/png",
                  "size": 72396,
                  "sha256": "d42c2780ffcedeb699ac245f42118b4ed082e61d1ba7146549b9df08607f2731",
                  "expires_at": "2026-08-04T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "文件超过限制。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "media_too_large",
                    "message": "uploaded media exceeds the configured size limit",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Content-Type 不受支持。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "unsupported_media_type",
                    "message": "Content-Type must be multipart/form-data or application/json",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "上传图片",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'image=@./reference.png'"
          },
          {
            "lang": "Shell",
            "label": "上传音频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'audio=@./reference.wav'"
          },
          {
            "lang": "Shell",
            "label": "上传视频",
            "source": "curl -X POST 'https://tkcreazy.top/v1/videos/uploads' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -F 'video=@./reference.mp4'"
          }
        ]
      }
    },
    "/videos/uploads/{upload_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "读取已上传的原始素材",
        "description": "成功响应是原始文件字节，不是 JSON。该接口用于核对上传内容；创建任务仍应填写上传响应中的 media_url。支持 Range。",
        "operationId": "getUploadedVideoMedia",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UploadID"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整原始文件。",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Range 读取成功。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes 0-1023/72396"
              },
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "bytes"
                  ]
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "416": {
            "description": "Range 超出文件范围。",
            "headers": {
              "Content-Range": {
                "schema": {
                  "type": "string"
                },
                "example": "bytes */72396"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoAPIError"
                },
                "example": {
                  "error": {
                    "code": "range_not_satisfiable",
                    "message": "Requested byte range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/uploads/sdupl_example_123' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>' \\\n  -o uploaded-file.bin"
          }
        ]
      }
    },
    "/videos/generations": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "创建异步视频生成任务",
        "description": "### 真实调用地址\n\n`POST https://tkcreazy.top/v1/videos/generations`。所有视频模型都使用这个统一入口，只通过请求体中的 `model` 区分；不要在路径后添加模型名，也不要调用其他地址。\n\n### 模型和 API Key 分组必须一致\n\n| API Key 分组 | 可填写的 model | 清晰度与时长 |\n| --- | --- | --- |\n| Seedance | `seedance-2.0` | 480p/720p：5/10/15 秒；1080p：5/10 秒 |\n| Seedance | `seedance-2.0-fast` | 480p/720p：5/10/15 秒 |\n| Seedance | `seedance-2.0-mini` | 480p/720p：5/10/15 秒 |\n| Seedance | `sd-2.0-mx933` | 480p/720p：5/10/15 秒 |\n| Seedance | `sd-2.5-mx` | 仅 720p：5/10/15/30 秒（官方渠道） |\n| Seedance | `sd-2.5-mx-2000` | 仅 720p：5/10/15/30 秒（非官方渠道，媒体上限同官方 30/10/10） |\n| Seedance | `seedance2.0-one-face-reference-480p` | 固定 480p：4-15 秒（按秒计费，单人脸参考特惠） |\n| Seedance | `seedance2.0-one-face-reference-720p` | 固定 720p：4-15 秒（按秒计费，单人脸参考特惠） |\n| MiniMax | `minimax-h3` | 仅 1440p：5-15 秒 |\n| GrokImagine | `grok-imagine-1.5` | 仅 720p：3-15 秒，必须首帧 |\n| HappyHorse | `happy-horse-1.1` | 720p/1080p：3-15 秒 |\n| LTX | `ltx-2.3-pro` | 1080p/1440p/2160p：只能填 6、8、10 秒 |\n| LTX | `ltx-2.3-fast` | 1080p/1440p/2160p：6-20 秒中的偶数 |\n\n`sd-2.5-mx` 与 `sd-2.5-mx-2000` 的 `duration` 只能填整数 `5`、`10`、`15` 或 `30`，省略时按 5 秒处理；除此两模型外，其他 Seedance 新请求的 `duration` 只能填整数 `5`、`10` 或 `15`，省略时按 5 秒处理。`minimax-h3` 为 5-15 秒任意整数；`grok-imagine-1.5` 为 3-15 秒任意整数且必须提供首帧。`0`、`null` 或对应模型不支持的其他秒数会直接返回参数错误。\n\n### 公开模型与清晰度\n\n| 客户填写的 model | 支持的 resolution | duration |\n| --- | --- | --- |\n| `sd-2.0-mx933` | `480p`、`720p` | `5`、`10`、`15`，省略为 `5` |\n| `sd-2.5-mx` | `720p` | `5`、`10`、`15`、`30`，省略为 `5` |\n\n调用方只填写公开 `model`、`resolution` 和本文档定义的其他统一字段。任务创建、查询、计费记录和失败响应始终保留客户提交的公开模型名。\n\n### Seedance 按次计费\n\n只有 Key 所属 Seedance 分组由平台管理员显式启用按次计费时，才按公开 `model + resolution` 的单次价格、每个输出视频计费，`duration` 不作为价格乘数。`sd-2.5-mx` 的 5/10/15/30 秒档位使用同一单次价格。客户请求中没有计费单位字段。旧分组在管理员切换前继续按秒计费，避免把历史每秒价格误解释为每次价格；平台不会强制迁移旧分组。最终 `failed` 或成功取消的任务由平台按既有结算规则执行幂等退款。\n\n### 参考素材怎么填\n\n1. 有参考素材时，先调用 `POST /videos/uploads`；每次只上传一个文件，多素材就分别上传多次。\n2. 从每次上传响应中复制完整 `media_url`，包括签名查询参数，填入创建任务 JSON；不要填写 `upload_id`。\n3. 视频和音频参考对象中的 `duration_seconds` 必须填写该文件的真实时长（秒，可为小数），不是目标视频的 `duration`，也不是上传接口返回值。\n4. `sd-2.0-mx933`：首帧、尾帧和普通参考图合计最多 9 张；视频最多 3 个、音频最多 3 个；全部素材合计最多 15 个；参考视频累计最多 15 秒，参考音频累计最多 15 秒。\n5. `sd-2.5-mx`：首帧、尾帧和普通参考图合计最多 30 张；视频最多 10 个、音频最多 10 个；全部素材合计最多 50 个。\n6. 这两个模型允许首尾帧与 `guidances.image_reference` 组合；填写尾帧时必须同时填写首帧。参考音频必须同时存在至少一个 `image_reference` 或 `video_reference_base`，只有首帧/尾帧仍不够。\n7. 使用 `audio_reference` 时必须在请求顶层显式填写 `audio: true`。参考音频不是原音轨直通，`prompt` 要明确写出要保留的音色、语言内容、节奏、旋律或声音事件。\n8. `prompt` 可手写 `@ImageN` / `@AudioN` / `@VideoN`（例如 `@Image1`）引用已上传素材；未手写时平台按「参考图→首帧→尾帧」与视频/音频各自序号自动注入角色说明。手写编号时平台不再二次定义角色映射，但仍会补充无编号的首尾帧约束。\n\n既有普通 Seedance 最多 4 图、3 视频、1 音频。\n\n### 上传字段和生成字段的对应关系\n\n| 素材 | 上传接口 multipart 字段 | 创建任务 JSON 字段 |\n| --- | --- | --- |\n| 单图/多图参考 | `image` | `guidances.image_reference[].image.url` |\n| 首帧 | `image` | `image_url` 或 `start_frame_url` |\n| 尾帧 | `image` | `end_frame_url` |\n| 单视频/多视频参考 | `video` | `guidances.video_reference_base[].video.url` 和 `.duration_seconds` |\n| 单音频/多音频参考 | `audio` | `guidances.audio_reference[].audio.url` 和 `.duration_seconds` |\n\n### 在 Apifox 中选择示例\n\n两个新公开模型提供纯文本、单图、多图、首尾帧、多视频、多音频和综合参考示例；其中 sd-2.5-mx 的命名示例明确覆盖 5、10、15、30 秒四个档位。先选请求示例，把所有 `https://replace.invalid/...` 替换为上传响应中的完整 `media_url`，并按文件真实时长修改 `duration_seconds`；再在 `202` 响应中选择同名示例。请求和响应示例下拉框彼此独立。\n\n### 成功后怎么做\n\n创建成功固定返回 HTTP 202。保存公开 `job_id`，每 3-5 秒调用 `GET /videos/jobs/{job_id}`。HTTP 200 只表示查询接口调用成功；只有响应体 `status=completed` 才代表生成成功，随后调用 `GET /videos/jobs/{job_id}/content` 下载 MP4。`status=failed` 是终态失败。\n\n### 单人脸参考特惠模型补充说明\n\n- `seedance2.0-one-face-reference-480p` / `seedance2.0-one-face-reference-720p`：分辨率由模型名固定，无需靠 resolution 切换档位（仍建议显式填写对应 resolution）。\n- duration 支持 4-15 的整数秒，省略为 5；按秒计费。\n- 不支持 `audio=true`，不支持 `guidances.audio_reference`。\n- 建议至少 1 张清晰人脸参考图；图片（含首尾帧）最多 9，视频最多 3，全部参考素材合计不超过 12。\n- 公开请求/响应字段与其它 Seedance 模型一致，仅切换 model 与对应 API Key 分组。\n",
        "operationId": "createVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "description": "必须选择与 model 对应的请求 Schema。sd-2.5-mx 固定使用 720p，duration 只允许整数 5、10、15、30，省略时为 5；除此模型外，其他 Seedance 新请求的 duration 只允许整数 5、10、15，省略时为 5。新 sd-2.0-mx933 的图片合计最多 9 张、视频最多 3 个、音频最多 3 个、全部素材最多 15 个，参考视频累计最多 15 秒且参考音频累计最多 15 秒。新 sd-2.5-mx 的图片合计最多 30 张、视频最多 10 个、音频最多 10 个、全部素材最多 50 个。两个新模型的每个视频和音频 guidance 对象都必须填写正数 duration_seconds；该值是参考文件真实时长，不是目标 duration。使用 audio_reference 时必须搭配普通 image_reference 或 video_reference_base，并在请求顶层显式填写 audio=true。prompt 可手写 @ImageN / @AudioN / @VideoN 引用素材编号；未手写时平台按上传顺序自动注入。新模型不支持 prompt_enhance。客户只能传公开 model 和本文档定义的统一字段。",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Seedance20Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceFastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceMiniRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceSD20MX933Request"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceSD25MXRequest"
                  },
                  {
                    "$ref": "#/components/schemas/HappyHorseRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXProRequest"
                  },
                  {
                    "$ref": "#/components/schemas/LTXFastRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceSD25MX2000Request"
                  },
                  {
                    "$ref": "#/components/schemas/MiniMaxH3Request"
                  },
                  {
                    "$ref": "#/components/schemas/GrokImagineRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceOneFaceReference480pRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SeedanceOneFaceReference720pRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "model",
                  "mapping": {
                    "seedance-2.0": "#/components/schemas/Seedance20Request",
                    "seedance-2.0-fast": "#/components/schemas/SeedanceFastRequest",
                    "seedance-2.0-mini": "#/components/schemas/SeedanceMiniRequest",
                    "sd-2.0-mx933": "#/components/schemas/SeedanceSD20MX933Request",
                    "sd-2.5-mx": "#/components/schemas/SeedanceSD25MXRequest",
                    "happy-horse-1.1": "#/components/schemas/HappyHorseRequest",
                    "ltx-2.3-pro": "#/components/schemas/LTXProRequest",
                    "ltx-2.3-fast": "#/components/schemas/LTXFastRequest",
                    "sd-2.5-mx-2000": "#/components/schemas/SeedanceSD25MX2000Request",
                    "minimax-h3": "#/components/schemas/MiniMaxH3Request",
                    "grok-imagine-1.5": "#/components/schemas/GrokImagineRequest",
                    "seedance2.0-one-face-reference-480p": "#/components/schemas/SeedanceOneFaceReference480pRequest",
                    "seedance2.0-one-face-reference-720p": "#/components/schemas/SeedanceOneFaceReference720pRequest"
                  }
                }
              },
              "examples": {
                "sd20MXText480": {
                  "summary": "sd-2.0-mx933｜480p｜纯文本",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "清晨的滨海公路上，一辆银色电动汽车平稳驶过，镜头从低机位侧后方连续跟拍，阳光在车身上自然移动，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false
                  }
                },
                "sd20MXSingleImage720": {
                  "summary": "sd-2.0-mx933｜720p｜单图参考",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "保持参考图中的人物身份、服装和场景一致，让人物从窗边转身走向桌前并拿起咖啡杯，动作自然连续，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-single-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "sd20MXMultiImage480": {
                  "summary": "sd-2.0-mx933｜480p｜多图参考",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "保持三张参考图中的人物、背包和街角咖啡店外观一致，让人物背着背包走到店门前并推门进入，镜头平稳跟随，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 10,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-character-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-backpack-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-cafe-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "sd20MXFirstLast720": {
                  "summary": "sd-2.0-mx933｜720p｜首尾帧",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "严格从首帧构图开始，让人物沿走廊连续走向镜头并自然停在尾帧位置，保持人物身份、服装、光线和空间关系一致，禁止跳切，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "start_frame_url": "https://replace.invalid/sd20-first-frame-media-url-from-upload",
                    "end_frame_url": "https://replace.invalid/sd20-last-frame-media-url-from-upload"
                  }
                },
                "sd20MXMultiVideo480": {
                  "summary": "sd-2.0-mx933｜480p｜多视频参考",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "参考第一个视频的行走节奏和第二个视频的环绕运镜，生成一段人物在展厅中走向产品并停下展示的连续镜头，不复制参考视频中的无关人物，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 15,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd20-walking-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd20-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        }
                      ]
                    }
                  }
                },
                "sd20MXMultiAudio720": {
                  "summary": "sd-2.0-mx933｜720p｜单图与多音频参考",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "保持参考图中的播音员身份和演播室外观一致。播音员面向镜头自然说出参考人声音频中的中文短句，尽量保留该人声的音色、语速和停顿；背景保留第二段音频中的轻柔雨声，口型与人声同步，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-presenter-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd20-voice-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd20-rain-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 5
                          }
                        }
                      ]
                    }
                  }
                },
                "sd20MXCombined480": {
                  "summary": "sd-2.0-mx933｜480p｜图片、视频与音频综合参考",
                  "value": {
                    "model": "sd-2.0-mx933",
                    "prompt": "保持两张图片中的人物和产品外观一致，参考第一段视频的拿起动作与第二段视频的推进运镜。人物拿起产品并说出参考人声中的中文短句，保留其音色、语速和停顿，同时使用第二段音频的轻快节奏作为背景，口型同步，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 15,
                    "aspect_ratio": "9:16",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-combined-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd20-combined-product-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        }
                      ],
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd20-combined-action-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 5
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd20-combined-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 5
                          }
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd20-combined-voice-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd20-combined-music-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        }
                      ]
                    }
                  }
                },
                "sd25MXText720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜5 秒｜纯文本",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "傍晚的现代美术馆中，一名舞者从大厅中央缓慢起身并完成连续旋转，镜头沿弧线平稳环绕，衣料和灯光变化自然，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true
                  }
                },
                "sd25MXSingleImage720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜10 秒｜单图参考",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "保持参考图中的人物身份、服装和美术馆场景一致，让人物从静止站姿自然转身并走向展品，镜头平稳跟随，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-single-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "sd25MXMultiImage720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜15 秒｜多图参考",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "保持三张参考图中的人物、银色礼服和舞台布景一致，让人物走到舞台中央完成一次连续旋转，镜头沿弧线环绕，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 15,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-costume-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-stage-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "sd25MXMultiVideo720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜30 秒｜多视频参考",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "参考第一段视频的连续舞蹈动作和第二段视频的环绕运镜，生成同一舞者在舞台中央完成动作的连续镜头，不复制无关人物身份，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-multi-dance-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-multi-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        }
                      ]
                    }
                  }
                },
                "sd25MXMultiAudio720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜单图与多音频参考",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "保持参考图中的人物身份和舞台一致。人物自然说出第一段音频中的中文短句，尽量保留其音色、语速和停顿；背景使用第二段音频的鼓点节奏，口型同步，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-audio-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-audio-voice-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-audio-rhythm-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        }
                      ]
                    }
                  }
                },
                "sd25MXFirstLast720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜首尾帧",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "严格从首帧开始，让舞者连续完成一个转身动作并自然收束到尾帧姿态，保持人物身份、服装、镜位和场景光线一致，禁止跳切，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "start_frame_url": "https://replace.invalid/sd25-first-frame-media-url-from-upload",
                    "end_frame_url": "https://replace.invalid/sd25-last-frame-media-url-from-upload"
                  }
                },
                "sd25MXCombined720": {
                  "summary": "sd-2.5-mx（官方）｜720p｜多图、多视频与多音频综合参考",
                  "value": {
                    "model": "sd-2.5-mx",
                    "prompt": "保持三张图片中的人物、服装和舞台一致，参考两段视频的舞蹈动作和环绕运镜。人物按参考人声的音色、中文语句、语速和停顿完成口播，背景使用第二段音频的鼓点节奏，口型同步，动作连续，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-costume-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-stage-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ],
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-dance-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-voice-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 9
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-rhythm-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        }
                      ]
                    }
                  }
                },
                "seedance20Text": {
                  "summary": "Seedance 01｜已验证：2.0 纯文本",
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "清晨的海边城市逐渐亮起灯光，镜头从海面平稳推进到城市天际线，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "seedanceSingleImage": {
                  "summary": "Seedance 02｜已验证：单图参考（先上传 1 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "保持参考图中的商品外观和标志一致，让商品在摄影棚转台上缓慢旋转，镜头平稳推进，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMultiImage": {
                  "summary": "Seedance 03｜已验证：多图参考（先上传 2-4 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "第一张图决定人物和商品，第二张图决定品牌标志；人物拿起带有该标志的商品袋，转向镜头并向前走两步，保持人物、商品和标志一致。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-3-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 2
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-4-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "MID",
                          "order": 3
                        }
                      ]
                    }
                  }
                },
                "seedanceFirstFrame": {
                  "summary": "Seedance 04｜已验证：首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "从上传的首帧开始，让人物拿起桌上的商品并转向镜头，动作连续自然，保持首帧人物和商品外观一致。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "image_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "seedanceFirstLastFrames": {
                  "summary": "Seedance 05｜已验证：首尾帧（先上传 2 图）",
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "从第一张图的构图和站位连续过渡到第二张图，人物动作完整可见，镜头平稳推进，不跳切。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload",
                    "end_frame_url": "https://replace.invalid/image-media-url-2-from-upload"
                  }
                },
                "seedanceSingleVideo": {
                  "summary": "Seedance 06｜已验证：单视频参考（先上传 1 视频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "参考上传视频中的主体动作和镜头节奏，生成连续、自然的商品展示视频；保持动作完整可见，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMultiVideo": {
                  "summary": "Seedance 07｜多视频参考（先上传 2-3 视频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "综合三个参考视频的主体动作、镜头运动和节奏，生成一个连续的商品展示镜头；保持动作自然衔接，不直接拼接原视频。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-3-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "seedanceImageAudio": {
                  "summary": "Seedance 08｜已验证：单图 + 参考音频（上传 1 图、1 音频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "以参考图片中的商品为主体生成 5 秒展示视频。明确保留参考音频中的 660Hz 持续电子提示音，使相同音高、稳定节奏和强弱从开头持续到结尾；不要替换成环境音乐、对白或其他音效。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceVideoAudio": {
                  "summary": "Seedance 09｜单视频 + 参考音频（上传 1 视频、1 音频）",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "prompt": "沿用参考视频中的动作节奏和镜头运动，同时保留参考音频中的连续电子提示音、相同音高和稳定节拍；不要替换为音乐或对白。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/video-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/audio-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "seedanceMiniText": {
                  "summary": "Seedance 10｜已验证提交：Mini 纯文本",
                  "value": {
                    "model": "seedance-2.0-mini",
                    "prompt": "明亮摄影棚内，一只红色购物袋缓慢旋转，镜头平稳推进，无字幕，无水印。",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "1:1",
                    "audio": false
                  }
                },
                "happyHorseText": {
                  "summary": "HappyHorse 01｜已验证：纯文本",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "A horse runs through a sunlit meadow, cinematic tracking shot.",
                    "resolution": "1080p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "OFF"
                  }
                },
                "happyHorseFirstFrame": {
                  "summary": "HappyHorse 02｜已验证：首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "Animate the subject in the uploaded first frame with a slow cinematic camera push.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "prompt_enhance": "OFF",
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "happyHorseSingleImage": {
                  "summary": "HappyHorse 03｜单图参考（先上传 1 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "Keep the subject and product from the uploaded reference image recognizable while the presenter turns toward the camera.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "OFF",
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "happyHorseMultiAudio": {
                  "summary": "HappyHorse 04｜已验证：多图 + 生成音轨（先上传 2-9 图）",
                  "value": {
                    "model": "happy-horse-1.1",
                    "prompt": "A person holds a shopping bag carrying the product mark from the first image and the brand mark from the second image, turns it toward the camera, then takes two steps forward. Keep both marks recognizable and add synchronized studio ambience.",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "OFF",
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-1-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/image-media-url-2-from-upload",
                            "type": "UPLOADED"
                          },
                          "strength": "HIGH",
                          "order": 1
                        }
                      ]
                    }
                  }
                },
                "ltxProText": {
                  "summary": "LTX 01｜已验证：Pro 纯文本",
                  "value": {
                    "model": "ltx-2.3-pro",
                    "prompt": "A cinematic sunrise over a coastal city, smooth aerial camera movement.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "ltxFastText": {
                  "summary": "LTX 02｜已验证：Fast 纯文本",
                  "value": {
                    "model": "ltx-2.3-fast",
                    "prompt": "A fast tracking shot through a neon city street.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "prompt_enhance": "AUTO"
                  }
                },
                "ltxFirstFrame": {
                  "summary": "LTX 03｜首帧图生视频（先上传 1 图）",
                  "value": {
                    "model": "ltx-2.3-fast",
                    "prompt": "Animate the uploaded first frame with a smooth forward camera move and synchronized studio ambience.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "AUTO",
                    "image_url": "https://replace.invalid/image-media-url-1-from-upload"
                  }
                },
                "ltxFramesAudio": {
                  "summary": "LTX 04｜已验证：首尾帧 + 生成音轨（先上传 2 图）",
                  "value": {
                    "model": "ltx-2.3-pro",
                    "prompt": "Create a smooth studio transition from the first uploaded composition to the second. Keep the camera centered and add subtle synchronized electronic ambience.",
                    "resolution": "1080p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "prompt_enhance": "AUTO",
                    "start_frame_url": "https://replace.invalid/image-media-url-1-from-upload",
                    "end_frame_url": "https://replace.invalid/image-media-url-2-from-upload"
                  }
                },
                "sd25MX2000Text720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜5 秒｜纯文本",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "傍晚的现代美术馆中，一名舞者从大厅中央缓慢起身并完成连续旋转，镜头沿弧线平稳环绕，衣料和灯光变化自然，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true
                  }
                },
                "sd25MX2000SingleImage720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜10 秒｜单图参考",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "保持参考图中的人物身份、服装和美术馆场景一致，让人物从静止站姿自然转身并走向展品，镜头平稳跟随，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 10,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-single-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ]
                    }
                  }
                },
                "sd25MX2000MultiImage720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜15 秒｜多图参考",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "保持三张参考图中的人物、银色礼服和舞台布景一致，让人物走到舞台中央完成一次连续旋转，镜头沿弧线环绕，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 15,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-costume-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-multi-stage-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ]
                    }
                  }
                },
                "sd25MX2000MultiVideo720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜30 秒｜多视频参考",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "参考第一段视频的连续舞蹈动作和第二段视频的环绕运镜，生成同一舞者在舞台中央完成动作的连续镜头，不复制无关人物身份，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-multi-dance-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-multi-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        }
                      ]
                    }
                  }
                },
                "sd25MX2000MultiAudio720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜单图与多音频参考",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "保持参考图中的人物身份和舞台一致。人物自然说出第一段音频中的中文短句，尽量保留其音色、语速和停顿；背景使用第二段音频的鼓点节奏，口型同步，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-audio-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-audio-voice-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-audio-rhythm-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 6
                          }
                        }
                      ]
                    }
                  }
                },
                "sd25MX2000FirstLast720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜首尾帧",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "严格从首帧开始，让舞者连续完成一个转身动作并自然收束到尾帧姿态，保持人物身份、服装、镜位和场景光线一致，禁止跳切，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "9:16",
                    "audio": false,
                    "start_frame_url": "https://replace.invalid/sd25-first-frame-media-url-from-upload",
                    "end_frame_url": "https://replace.invalid/sd25-last-frame-media-url-from-upload"
                  }
                },
                "sd25MX2000Combined720": {
                  "summary": "sd-2.5-mx-2000（非官方）｜720p｜多图、多视频与多音频综合参考",
                  "value": {
                    "model": "sd-2.5-mx-2000",
                    "prompt": "保持三张图片中的人物、服装和舞台一致，参考两段视频的舞蹈动作和环绕运镜。人物按参考人声的音色、中文语句、语速和停顿完成口播，背景使用第二段音频的鼓点节奏，口型同步，动作连续，无字幕，无水印。",
                    "resolution": "720p",
                    "duration": 30,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-person-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 0
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-costume-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        },
                        {
                          "image": {
                            "url": "https://replace.invalid/sd25-stage-image-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 2
                        }
                      ],
                      "video_reference_base": [
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-dance-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        },
                        {
                          "video": {
                            "url": "https://replace.invalid/sd25-camera-video-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 7
                          }
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-voice-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 9
                          }
                        },
                        {
                          "audio": {
                            "url": "https://replace.invalid/sd25-rhythm-audio-media-url-from-upload",
                            "type": "UPLOADED",
                            "duration_seconds": 8
                          }
                        }
                      ]
                    }
                  }
                },
                "minimaxH3Text": {
                  "summary": "minimax-h3｜1440p｜纯文本 5 秒",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "一位年轻女子缓步走向窗边，阳光洒落，镜头缓慢跟随，电影感。",
                    "resolution": "1440p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": true
                  }
                },
                "minimaxH3FirstFrame": {
                  "summary": "minimax-h3｜1440p｜首帧",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "保持主体身份，镜头缓推，自然光，动作连贯。",
                    "resolution": "1440p",
                    "duration": 8,
                    "aspect_ratio": "16:9",
                    "start_frame_url": "https://tkcreazy.top/v1/videos/uploads/file-start?token=...",
                    "audio": true
                  }
                },
                "minimaxH3FirstLast": {
                  "summary": "minimax-h3｜1440p｜首尾帧",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "从首帧姿态过渡到尾帧姿态，动作自然流畅。",
                    "resolution": "1440p",
                    "duration": 10,
                    "aspect_ratio": "9:16",
                    "start_frame_url": "https://tkcreazy.top/v1/videos/uploads/file-start?token=...",
                    "end_frame_url": "https://tkcreazy.top/v1/videos/uploads/file-end?token=...",
                    "audio": true
                  }
                },
                "minimaxH3Refs": {
                  "summary": "minimax-h3｜1440p｜参考图",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "参考图中的人物与场景风格，镜头缓慢环绕。",
                    "resolution": "1440p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "media_url": "https://tkcreazy.top/v1/videos/uploads/file-ref1?token=..."
                          }
                        }
                      ]
                    }
                  }
                },
                "minimaxH3AudioRef": {
                  "summary": "minimax-h3｜1440p｜参考图+参考音频",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "画面跟随参考图主体表演，节奏贴合参考音频。",
                    "resolution": "1440p",
                    "duration": 8,
                    "aspect_ratio": "16:9",
                    "audio": true,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "media_url": "https://tkcreazy.top/v1/videos/uploads/file-ref1?token=..."
                          }
                        }
                      ],
                      "audio_reference": [
                        {
                          "audio": {
                            "media_url": "https://tkcreazy.top/v1/videos/uploads/file-audio?token=...",
                            "duration_seconds": 6.5
                          }
                        }
                      ]
                    }
                  }
                },
                "grokImagineFirstFrame": {
                  "summary": "grok-imagine-1.5｜720p｜首帧必填",
                  "value": {
                    "model": "grok-imagine-1.5",
                    "prompt": "Keep subject identity, slow cinematic push-in, natural daylight.",
                    "resolution": "720p",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "start_frame_url": "https://tkcreazy.top/v1/videos/uploads/file-start?token=...",
                    "audio": true
                  }
                },
                "grokImagineImageUrlCompat": {
                  "summary": "grok-imagine-1.5｜720p｜image_url 兼容首帧",
                  "value": {
                    "model": "grok-imagine-1.5",
                    "prompt": "Gentle camera move, preserve face identity.",
                    "resolution": "720p",
                    "duration": 8,
                    "aspect_ratio": "9:16",
                    "image_url": "https://tkcreazy.top/v1/videos/uploads/file-start?token=...",
                    "audio": false
                  }
                },
                "oneFaceRef480p": {
                  "summary": "seedance2.0-one-face-reference-480p｜固定480p｜单人脸参考",
                  "value": {
                    "model": "seedance2.0-one-face-reference-480p",
                    "prompt": "测试卡人脸风格，正面特写，人物表情自然平静，肤色真实，光线均匀，镜头稳定，无字幕无水印",
                    "resolution": "480p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/one-face-reference-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        }
                      ]
                    }
                  }
                },
                "oneFaceRef720p": {
                  "summary": "seedance2.0-one-face-reference-720p｜固定720p｜单人脸参考",
                  "value": {
                    "model": "seedance2.0-one-face-reference-720p",
                    "prompt": "测试卡人脸风格，正面特写，人物表情自然平静，肤色真实，光线均匀，镜头稳定，无字幕无水印",
                    "resolution": "720p",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "audio": false,
                    "guidances": {
                      "image_reference": [
                        {
                          "image": {
                            "url": "https://replace.invalid/one-face-reference-media-url-from-upload",
                            "type": "UPLOADED"
                          },
                          "order": 1
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已被服务和上游接受进入异步处理，不代表视频已经生成成功。Location 与 status_url 均指向查询接口；必须继续查询到 completed、failed 或 cancelled。",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://tkcreazy.top/v1/videos/jobs/vidjob_example_123"
              },
              "Preference-Applied": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "respond-async"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobResponse"
                },
                "examples": {
                  "sd20MXText480": {
                    "summary": "sd-2.0-mx933｜480p｜纯文本",
                    "value": {
                      "job_id": "vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXSingleImage720": {
                    "summary": "sd-2.0-mx933｜720p｜单图参考",
                    "value": {
                      "job_id": "vidjob_M3n4O5p6Q7r8S9t0U1v2W3x4",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_M3n4O5p6Q7r8S9t0U1v2W3x4",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXMultiImage480": {
                    "summary": "sd-2.0-mx933｜480p｜多图参考",
                    "value": {
                      "job_id": "vidjob_Y5z6A7b8C9d0E1f2G3h4I5j6",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_Y5z6A7b8C9d0E1f2G3h4I5j6",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXFirstLast720": {
                    "summary": "sd-2.0-mx933｜720p｜首尾帧",
                    "value": {
                      "job_id": "vidjob_K7l8M9n0O1p2Q3r4S5t6U7v8",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_K7l8M9n0O1p2Q3r4S5t6U7v8",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXMultiVideo480": {
                    "summary": "sd-2.0-mx933｜480p｜多视频参考",
                    "value": {
                      "job_id": "vidjob_W9x0Y1z2A3b4C5d6E7f8G9h0",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_W9x0Y1z2A3b4C5d6E7f8G9h0",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXMultiAudio720": {
                    "summary": "sd-2.0-mx933｜720p｜单图与多音频参考",
                    "value": {
                      "job_id": "vidjob_I1j2K3l4M5n6O7p8Q9r0S1t2",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_I1j2K3l4M5n6O7p8Q9r0S1t2",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd20MXCombined480": {
                    "summary": "sd-2.0-mx933｜480p｜图片、视频与音频综合参考",
                    "value": {
                      "job_id": "vidjob_U3v4W5x6Y7z8A9b0C1d2E3f4",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_U3v4W5x6Y7z8A9b0C1d2E3f4",
                      "model": "sd-2.0-mx933"
                    }
                  },
                  "sd25MXText720": {
                    "summary": "sd-2.5-mx｜720p｜纯文本",
                    "value": {
                      "job_id": "vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXSingleImage720": {
                    "summary": "sd-2.5-mx｜720p｜单图参考",
                    "value": {
                      "job_id": "vidjob_S7t8U9v0W1x2Y3z4A5b6C7d8",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_S7t8U9v0W1x2Y3z4A5b6C7d8",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXMultiImage720": {
                    "summary": "sd-2.5-mx｜720p｜多图参考",
                    "value": {
                      "job_id": "vidjob_E9f0G1h2I3j4K5l6M7n8O9p0",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_E9f0G1h2I3j4K5l6M7n8O9p0",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXMultiVideo720": {
                    "summary": "sd-2.5-mx｜720p｜多视频参考",
                    "value": {
                      "job_id": "vidjob_Q1r2S3t4U5v6W7x8Y9z0A1b2",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_Q1r2S3t4U5v6W7x8Y9z0A1b2",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXMultiAudio720": {
                    "summary": "sd-2.5-mx｜720p｜单图与多音频参考",
                    "value": {
                      "job_id": "vidjob_C3d4E5f6G7h8I9j0K1l2M3n4",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_C3d4E5f6G7h8I9j0K1l2M3n4",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXFirstLast720": {
                    "summary": "sd-2.5-mx｜720p｜首尾帧",
                    "value": {
                      "job_id": "vidjob_O5p6Q7r8S9t0U1v2W3x4Y5z6",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_O5p6Q7r8S9t0U1v2W3x4Y5z6",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "sd25MXCombined720": {
                    "summary": "sd-2.5-mx｜720p｜多图、多视频与多音频综合参考",
                    "value": {
                      "job_id": "vidjob_A7b8C9d0E1f2G3h4I5j6K7l8",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_A7b8C9d0E1f2G3h4I5j6K7l8",
                      "model": "sd-2.5-mx"
                    }
                  },
                  "seedance20Text": {
                    "summary": "Seedance 01｜已验证：2.0 纯文本",
                    "value": {
                      "job_id": "vidjob_seedance20Text_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedance20Text_example_123",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceSingleImage": {
                    "summary": "Seedance 02｜已验证：单图参考（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_seedanceSingleImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceSingleImage_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMultiImage": {
                    "summary": "Seedance 03｜已验证：多图参考（先上传 2-4 图）",
                    "value": {
                      "job_id": "vidjob_seedanceMultiImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMultiImage_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceFirstFrame": {
                    "summary": "Seedance 04｜已验证：首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_seedanceFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceFirstFrame_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceFirstLastFrames": {
                    "summary": "Seedance 05｜已验证：首尾帧（先上传 2 图）",
                    "value": {
                      "job_id": "vidjob_seedanceFirstLastFrames_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceFirstLastFrames_example_123",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceSingleVideo": {
                    "summary": "Seedance 06｜已验证：单视频参考（先上传 1 视频）",
                    "value": {
                      "job_id": "vidjob_seedanceSingleVideo_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceSingleVideo_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMultiVideo": {
                    "summary": "Seedance 07｜多视频参考（先上传 2-3 视频）",
                    "value": {
                      "job_id": "vidjob_seedanceMultiVideo_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMultiVideo_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 10,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceImageAudio": {
                    "summary": "Seedance 08｜已验证：单图 + 参考音频（上传 1 图、1 音频）",
                    "value": {
                      "job_id": "vidjob_seedanceImageAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceImageAudio_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceVideoAudio": {
                    "summary": "Seedance 09｜单视频 + 参考音频（上传 1 视频、1 音频）",
                    "value": {
                      "job_id": "vidjob_seedanceVideoAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceVideoAudio_example_123",
                      "model": "seedance-2.0-fast",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "seedanceMiniText": {
                    "summary": "Seedance 10｜已验证提交：Mini 纯文本",
                    "value": {
                      "job_id": "vidjob_seedanceMiniText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_seedanceMiniText_example_123",
                      "model": "seedance-2.0-mini",
                      "resolution": "480p",
                      "duration": 5,
                      "aspect_ratio": "1:1",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseText": {
                    "summary": "HappyHorse 01｜已验证：纯文本",
                    "value": {
                      "job_id": "vidjob_happyHorseText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseText_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "1080p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseFirstFrame": {
                    "summary": "HappyHorse 02｜已验证：首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseFirstFrame_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "9:16",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseSingleImage": {
                    "summary": "HappyHorse 03｜单图参考（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseSingleImage_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseSingleImage_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "happyHorseMultiAudio": {
                    "summary": "HappyHorse 04｜已验证：多图 + 生成音轨（先上传 2-9 图）",
                    "value": {
                      "job_id": "vidjob_happyHorseMultiAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_happyHorseMultiAudio_example_123",
                      "model": "happy-horse-1.1",
                      "resolution": "720p",
                      "duration": 5,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxProText": {
                    "summary": "LTX 01｜已验证：Pro 纯文本",
                    "value": {
                      "job_id": "vidjob_ltxProText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxProText_example_123",
                      "model": "ltx-2.3-pro",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFastText": {
                    "summary": "LTX 02｜已验证：Fast 纯文本",
                    "value": {
                      "job_id": "vidjob_ltxFastText_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFastText_example_123",
                      "model": "ltx-2.3-fast",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFirstFrame": {
                    "summary": "LTX 03｜首帧图生视频（先上传 1 图）",
                    "value": {
                      "job_id": "vidjob_ltxFirstFrame_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFirstFrame_example_123",
                      "model": "ltx-2.3-fast",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "ltxFramesAudio": {
                    "summary": "LTX 04｜已验证：首尾帧 + 生成音轨（先上传 2 图）",
                    "value": {
                      "job_id": "vidjob_ltxFramesAudio_example_123",
                      "status": "pending",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/vidjob_ltxFramesAudio_example_123",
                      "model": "ltx-2.3-pro",
                      "resolution": "1080p",
                      "duration": 6,
                      "aspect_ratio": "16:9",
                      "created_at": "2026-08-03T12:00:00+08:00"
                    }
                  },
                  "oneFaceRef480p": {
                    "summary": "seedance2.0-one-face-reference-480p｜固定480p｜单人脸参考",
                    "value": {
                      "job_id": "task_oneFaceRef480pExample001",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/task_oneFaceRef480pExample001",
                      "model": "seedance2.0-one-face-reference-480p"
                    }
                  },
                  "oneFaceRef720p": {
                    "summary": "seedance2.0-one-face-reference-720p｜固定720p｜单人脸参考",
                    "value": {
                      "job_id": "task_oneFaceRef720pExample001",
                      "status": "queued",
                      "status_url": "https://tkcreazy.top/v1/videos/jobs/task_oneFaceRef720pExample001",
                      "model": "seedance2.0-one-face-reference-720p"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/videos/jobs": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "列出当前 API Key 创建的视频任务",
        "description": "返回本地持久化任务索引，严格按当前用户、当前 API Key 和当前分组隔离，不会返回共享视频账号中其他客户的任务。默认 50 条，最多 100 条。服务端后台结算器会持续轮询未结算任务；列表请求也会读取最新状态，并推进等待中的自动容灾。暂时读不到状态时该项 status=unknown，但 job_id 仍可用于单任务查询。对 seedance-2.0/seedance-2.0-fast 720p，第一次执行失败不是终态，只有容灾执行也明确失败后才进入最终 failed。直接请求 sd-2.0-mx933 或 sd-2.5-mx 时，明确 failed 就是终态失败；后台结算器或列表查询确认后执行幂等退款。自动容灾不会改变客户提交的公开 model、job_id 或计费模型。新 sd-2.0-mx933 和 sd-2.5-mx 的公开任务号使用 vidjob_*。列表中的 status_url 以及完成任务的 mp4_url、url、local_url 都是以 /v1 开头的站点相对路径，完整地址固定为 https://tkcreazy.top + 路径。",
        "operationId": "listVideoGenerationJobs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "example": 20
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "可选，不区分大小写，按接口返回的 status 精确过滤。为了限制上游查询量，过滤范围是当前 Key 最新 100 条任务。",
            "schema": {
              "type": "string"
            },
            "example": "completed"
          }
        ],
        "responses": {
          "200": {
            "description": "当前 Key 的任务列表。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobList"
                },
                "example": {
                  "data": [
                    {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl 'https://tkcreazy.top/v1/videos/jobs?limit=20&status=completed' \\\n  -H 'Authorization: Bearer <TKCREAZY_API_KEY>'"
          }
        ]
      }
    },
    "/videos/jobs/{job_id}": {
      "get": {
        "tags": [
          "视频生成"
        ],
        "summary": "查询一个视频任务",
        "description": "建议每 3-5 秒查询一次以获取最新状态，但退款不依赖客户持续轮询，服务端后台结算器会持续处理未结算任务。对 seedance-2.0/seedance-2.0-fast 720p，第一次执行失败不是终态，只有容灾执行也明确失败后才返回最终 failed；容灾不会改变客户提交的 model、公开 job_id 或计费模型。直接请求 sd-2.0-mx933 或 sd-2.5-mx 时，任务明确返回 failed 就是终态失败，后台结算器或本接口确认后执行幂等退款。新 sd-2.0-mx933 和 sd-2.5-mx 的公开 job_id 固定使用 vidjob_*，查询响应中的 id、job_id、task_id 均为该公开任务号，不会暴露或要求客户保存内部任务号。HTTP 200 只表示查询接口调用成功，必须以响应体 status 判断生成结果。status=completed 后读取 result.data[0].mp4_url；status=failed 时读取 error。mp4_url 是以 /v1 开头的站点相对路径，完整下载地址固定为 https://tkcreazy.top + mp4_url。只有创建该任务的同一个 API Key 能查询。",
        "operationId": "getVideoGenerationJob",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/JobID"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态。HTTP 200 只表示查询接口调用成功，不代表视频生成成功；必须检查响应体 status。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                },
                "examples": {
                  "running": {
                    "summary": "运行中",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "running",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:00:20+08:00"
                    }
                  },
                  "completed": {
                    "summary": "已完成",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "created_at": "2026-08-03T12:00:00+08:00",
                      "updated_at": "2026-08-03T12:01:10+08:00",
                      "result": {
                        "created": 1785744341,
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_example_123/content",
                            "url": "/v1/videos/jobs/vidjob_example_123/content",
                            "local_url": "/v1/videos/jobs/vidjob_example_123/content"
                          }
                        ]
                      }
                    }
                  },
                  "failed": {
                    "summary": "失败",
                    "value": {
                      "job_id": "vidjob_example_123",
                      "status": "failed",
                      "status_url": "/v1/videos/jobs/vidjob_example_123",
                      "error": {
                        "message": "Video generation failed"
                      }
                    }
                  },
                  "sd20MXCompleted": {
                    "summary": "新 SD 2.0｜completed 终态（公开 job_id 与下载路径）",
                    "value": {
                      "id": "vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "job_id": "vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "task_id": "vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "model": "sd-2.0-mx933",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2",
                      "content": {
                        "video_url": "/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2/content"
                      },
                      "result": {
                        "data": [
                          {
                            "mp4_url": "/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2/content",
                            "url": "/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2/content",
                            "local_url": "/v1/videos/jobs/vidjob_A1b2C3d4E5f6G7h8I9j0K1l2/content"
                          }
                        ]
                      }
                    }
                  },
                  "sd20MXFailed": {
                    "summary": "新 SD 2.0｜failed 终态（平台执行幂等退款）",
                    "value": {
                      "id": "vidjob_M9n8B7v6C5x4Z3a2S1d0F9g8",
                      "job_id": "vidjob_M9n8B7v6C5x4Z3a2S1d0F9g8",
                      "task_id": "vidjob_M9n8B7v6C5x4Z3a2S1d0F9g8",
                      "model": "sd-2.0-mx933",
                      "status": "failed",
                      "status_url": "/v1/videos/jobs/vidjob_M9n8B7v6C5x4Z3a2S1d0F9g8",
                      "error": "Video generation failed"
                    }
                  },
                  "sd25MXCompleted": {
                    "summary": "新 SD 2.5｜completed 终态（公开 job_id 与下载路径）",
                    "value": {
                      "id": "vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "job_id": "vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "task_id": "vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "model": "sd-2.5-mx",
                      "status": "completed",
                      "status_url": "/v1/videos/jobs/vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6",
                      "content": {
                        "video_url": "/v1/videos/jobs/vidjob_G5h6I7j8K9l0M1n2O3p4Q5r6/content"
                      },
                      "result": {
                        "data": [
                          {
[...]
