{
  "openapi": "3.0.3",
  "info": {
    "title": "TKCreazy Seedance 视频生成 API",
    "version": "1.2.0",
    "description": "TKCreazy 对外提供的 Seedance 异步视频生成接口。本文档只包含 4 个 Seedance 操作：创建、查询、取消和下载，不包含 OpenAI、Grok、Claude 或 Gemini 接口。\n\n所有请求都使用本站 API Key 鉴权，支持 Authorization: Bearer、x-api-key 或 x-goog-api-key 三种请求头；不要把 key 或 api_key 放在查询参数中。创建任务后，必须使用创建任务时的同一个 API Key 查询、取消或下载视频；任务与用户、API Key、Seedance 分组及上游账号绑定。\n\n通用解析范围不等于模型能力承诺：model 是管理员在当前 Seedance 分组中配置的入站名称；resolution 接受 480p、720p、1080p；duration 省略或传 0 时归一化为 8 秒，其他值必须是 4 至 15 的整数；generate_audio 是布尔值。某个请求通过网关参数校验和价格校验，只表示可以提交给上游，不保证该模型最终能生成该分辨率、时长、音频或图片模式。\n\n当前部署实测快照（2026-07-23，仅描述当日配置和观测，不是跨部署的通用保证）：seedance-2.0 在纯文本 480p/720p、15 秒、generate_audio=true 下任务成功并下载到有效 MP4；在纯文本 1080p、8 秒、generate_audio=false 下任务成功并下载到有效 MP4；此前对纯文本 1080p、15 秒使用不同提示词且覆盖 generate_audio=true/false 的连续 3 个任务均进入 failed，因此本文档不把 seedance-2.0 的 1080p/15 秒列为已支持组合。seedance-2.0-fast 在纯文本 480p/720p、15 秒、generate_audio=true 下任务成功；在单张无 role 首帧和两张 reference_image 两种 720p/15 秒图片模式下，generate_audio=true/false 四种组合均成功。四个图片任务均下载为 1280x720 的有效 MP4；两个 true 成品均包含可解码的非静音 AAC-LC、44.1 kHz、立体声音轨，两个 false 成品均无音频流；抽帧确认单图主体及多图人物与水果参考均进入生成画面。此前 seedance-2.0-fast 的 1080p 请求在创建前返回 HTTP 503 billing_not_configured；本轮图片与音频矩阵未提交任何 1080p/15 秒任务。管理员调整模型映射、价格或上游账号后，此快照可能失效。\n\n计费金额 = 当前分组中对应入站模型与归一化分辨率的每秒价格 × 归一化时长 × 有效视频计费倍率。归一化时长规则与 duration 字段一致。价格矩阵非空时同时作为模型白名单；矩阵为空时沿用分组级分辨率价格。若分组启用了独立视频倍率，有效视频计费倍率取 video_rate_multiplier；否则取该用户与分组最终生效的基础倍率。创建任务被接受后记录预扣费用；成功取消，或查询到 failed/cancelled 终态时执行幂等退款。客户端应持续查询到终态，以便网关观察任务结果。价格单位、余额展示精度和舍入以站点当前计费配置及账单为准，本接口不返回报价。当前公式不为 ratio、generate_audio 或图片数量单独增加计费项。",
    "license": {
      "name": "LGPL-3.0-or-later",
      "url": "https://www.gnu.org/licenses/lgpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://tkcreazy.top",
      "description": "TKCreazy 生产环境"
    }
  ],
  "tags": [
    {
      "name": "Seedance 视频生成",
      "description": "创建、查询、取消 Seedance 视频任务并下载生成结果。"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "XApiKeyAuth": []
    },
    {
      "XGoogApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v3/contents/generations/tasks": {
      "post": {
        "tags": [
          "Seedance 视频生成"
        ],
        "summary": "创建 Seedance 视频生成任务",
        "description": "以火山方舟兼容格式创建异步视频任务。请求会根据 Seedance 账号中的模型映射转换为上游模型，并转发为异步视频生成任务。创建成功实际返回 HTTP 200 和任务 ID；不是 202。HTTP 200 只表示任务已创建，最终结果必须通过查询接口确认。\n\n请求必须至少包含一个去除首尾空白后仍非空的文本内容项。图片可用于单张无 role 首帧、显式首尾帧或 1 至 4 张 reference_image；尾帧必须与首帧同时出现，参考图模式不能与首尾帧模式混用。多参考图不是单独的 reference_images 数组，而是在 content 中重复 image_url 项，并为每项在外层指定 role 和可选 strength。\n\n2026-07-23 当前部署实测：seedance-2.0 的纯文本 480p/720p、15 秒、音频开启成功，1080p、8 秒、音频关闭成功；此前 1080p、15 秒连续 3 个任务失败，不能据此视为支持。seedance-2.0-fast 的纯文本 480p/720p、15 秒、音频开启成功；其 720p/15 秒单首帧与双参考图在音频开启和关闭下均成功，并分别验证了有音轨和无音轨成品。本轮未提交 1080p/15 秒任务。该结果是部署快照，通用字段解析范围仍以请求 schema 为准。",
        "operationId": "createSeedanceVideoTask",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Seedance 视频生成参数。未知顶层字段或未知 content 项字段会返回 400。",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceCreateTaskRequest"
              },
              "examples": {
                "seedance20Observed480p15sAudio": {
                  "summary": "当前部署纯文本实测成功：seedance-2.0 480p、15 秒、音频开启",
                  "value": {
                    "model": "seedance-2.0",
                    "content": [
                      {
                        "type": "text",
                        "text": "A single unbroken dolly shot moves through a busy glassblowing studio at dusk. An artisan rotates a glowing vessel while an assistant adds cobalt glass, sparks rise, furnaces flicker, tools remain physically consistent, and reflections travel correctly across the forming surface. In the background another worker opens a kiln and walks behind the main bench. Preserve coherent hands, faces, object geometry, realistic heat shimmer, stable camera motion, and synchronized furnace, tool, and workshop sounds for the entire shot without cuts."
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "480p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "seedance20Observed720p15sAudio": {
                  "summary": "当前部署纯文本实测成功：seedance-2.0 720p、15 秒、音频开启",
                  "value": {
                    "model": "seedance-2.0",
                    "content": [
                      {
                        "type": "text",
                        "text": "A continuous cinematic crane shot begins above a snow-covered mountain railway station, descends beside a green steam locomotive, then tracks a conductor walking along the platform as passengers board. Snow falls at changing depths, warm carriage windows reflect on icy ground, steam interacts naturally with people, luggage remains consistent, and the train slowly starts moving. Maintain readable faces, accurate wheel motion, coherent architecture, realistic lighting, and synchronized whistle, footsteps, steam, and crowd ambience with no cuts."
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "seedance20Observed1080p8s": {
                  "summary": "当前部署纯文本实测成功：seedance-2.0 1080p、8 秒、音频关闭",
                  "value": {
                    "model": "seedance-2.0",
                    "content": [
                      {
                        "type": "text",
                        "text": "A slow aerial shot over a coastal city at sunrise, with smooth camera movement, natural ocean waves, stable buildings, realistic morning light, and no cuts."
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 8,
                    "resolution": "1080p",
                    "generate_audio": false,
                    "watermark": false
                  }
                },
                "seedance20FastObserved480p15sAudio": {
                  "summary": "当前部署纯文本实测成功：seedance-2.0-fast 480p、15 秒、音频开启",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "A single uninterrupted cinematic tracking shot follows a compact red robot courier through a crowded rain-soaked night market. It carefully carries a glass terrarium containing a glowing orchid while vendors cook over blue flames, cyclists cross behind it, transparent umbrellas pass in the foreground, steam curls through neon light, and reflections move naturally across puddles. Keep the robot design, terrarium geometry, orchid position, hands, faces, signage, shadows, and spatial continuity stable for the full shot. Include synchronized rain, footsteps, bicycle bells, market chatter, and cooking ambience, with no cuts or sudden camera jumps."
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "480p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "seedance20FastObserved720p15sAudio": {
                  "summary": "当前部署纯文本实测成功：seedance-2.0-fast 720p、15 秒、音频开启",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "A continuous low-angle camera move follows a young chef carrying a towering sugar sculpture through a busy palace kitchen before a banquet. Copper pans swing gently, assistants cross behind steaming counters, a cat slips under a table, flour drifts through warm window light, and polished tiles reflect moving people. The translucent sculpture must keep its exact shape while refracting light naturally. Preserve faces, hands, costumes, kitchen layout, food placement, shadows, and spatial continuity. Include synchronized footsteps, cookware, simmering food, quiet voices, and room ambience without cuts."
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "singleFirstFrameObservedAudio": {
                  "summary": "实测成功：单张无 role 首帧、720p、15 秒、带音频",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "Continue from the exact black dog reference image in one unbroken cinematic shot. The same dog blinks, wags its tail, then runs through moving grass while the camera tracks smoothly. Preserve identity, coat markings, proportions, daylight, landscape, and spatial continuity. Add synchronized wind, birds, paw steps, collar sounds, and one natural bark."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://picsum.photos/id/237/1280/720"
                        }
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "singleFirstFrameObservedNoAudio": {
                  "summary": "实测成功：单张无 role 首帧、720p、15 秒、无音频",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "Continue from the exact black dog reference image in one unbroken cinematic shot. The same dog blinks, wags its tail, then runs through moving grass while the camera tracks smoothly. Preserve identity, coat markings, proportions, daylight, landscape, and spatial continuity."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://picsum.photos/id/237/1280/720"
                        }
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": false,
                    "watermark": false
                  }
                },
                "multipleReferenceImagesObservedAudio": {
                  "summary": "实测成功：两张 reference_image、720p、15 秒、带音频",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "Create one continuous cinematic market scene using both references: preserve the woman's recognizable face, hairstyle, hat, and expression from the portrait, and preserve the fruit shapes, colors, and arrangement from the still-life. She stands at a wooden stall, gently selects an orange, then looks toward camera as fabric canopies move in a breeze. Keep hands, identity, produce, lighting, and spatial continuity stable. Add synchronized market ambience, soft voices, cloth movement, footsteps, and fruit handling sounds."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://raw.githubusercontent.com/opencv/opencv/master/samples/data/lena.jpg"
                        },
                        "role": "reference_image",
                        "strength": "HIGH"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://raw.githubusercontent.com/opencv/opencv/master/samples/data/fruits.jpg"
                        },
                        "role": "reference_image",
                        "strength": "MID"
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": true,
                    "watermark": false
                  }
                },
                "multipleReferenceImagesObservedNoAudio": {
                  "summary": "实测成功：两张 reference_image、720p、15 秒、无音频",
                  "value": {
                    "model": "seedance-2.0-fast",
                    "content": [
                      {
                        "type": "text",
                        "text": "Create one continuous cinematic market scene using both references: preserve the woman's recognizable face, hairstyle, hat, and expression from the portrait, and preserve the fruit shapes, colors, and arrangement from the still-life. She stands at a wooden stall, gently selects an orange, then looks toward camera as fabric canopies move in a breeze. Keep hands, identity, produce, lighting, and spatial continuity stable."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://raw.githubusercontent.com/opencv/opencv/master/samples/data/lena.jpg"
                        },
                        "role": "reference_image",
                        "strength": "HIGH"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://raw.githubusercontent.com/opencv/opencv/master/samples/data/fruits.jpg"
                        },
                        "role": "reference_image",
                        "strength": "MID"
                      }
                    ],
                    "ratio": "16:9",
                    "duration": 15,
                    "resolution": "720p",
                    "generate_audio": false,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功。返回本站任务 ID。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceCreateTaskResponse"
                },
                "example": {
                  "id": "vidjob_example123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/RequestTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "default": {
            "$ref": "#/components/responses/UpstreamOrUnexpectedError"
          }
        }
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "tags": [
          "Seedance 视频生成"
        ],
        "summary": "查询 Seedance 视频任务",
        "description": "查询异步任务状态。必须使用创建任务时的同一个本站 API Key。建议轮询直到 status 为 succeeded、failed 或 cancelled；只有 succeeded 响应包含 content.video_url。任务与本地 Key 的绑定当前保留 7 天。",
        "operationId": "getSeedanceVideoTask",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceTask"
                },
                "examples": {
                  "queued": {
                    "summary": "任务排队中",
                    "value": {
                      "id": "vidjob_example123",
                      "status": "queued",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 8
                    }
                  },
                  "running": {
                    "summary": "任务生成中",
                    "value": {
                      "id": "vidjob_example123",
                      "status": "running",
                      "model": "seedance-2.0",
                      "resolution": "720p",
                      "duration": 8
                    }
                  },
                  "succeeded": {
                    "summary": "当前部署实测成功形态：seedance-2.0 1080p、8 秒",
                    "value": {
                      "id": "vidjob_example123",
                      "status": "succeeded",
                      "model": "seedance-2.0",
                      "resolution": "1080p",
                      "duration": 8,
                      "content": {
                        "video_url": "https://tkcreazy.top/api/v3/contents/generations/tasks/vidjob_example123/content"
                      }
                    }
                  },
                  "failed": {
                    "summary": "当前部署实测失败形态：seedance-2.0 1080p、15 秒",
                    "value": {
                      "id": "vidjob_example123",
                      "status": "failed",
                      "model": "seedance-2.0",
                      "resolution": "1080p",
                      "duration": 15,
                      "error": {
                        "message": "Video generation failed"
                      }
                    }
                  },
                  "cancelled": {
                    "summary": "任务已取消",
                    "value": {
                      "id": "vidjob_example123",
                      "status": "cancelled",
                      "model": "seedance-2.0"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "default": {
            "$ref": "#/components/responses/UpstreamOrUnexpectedError"
          }
        }
      },
      "delete": {
        "tags": [
          "Seedance 视频生成"
        ],
        "summary": "取消 Seedance 视频任务",
        "description": "请求取消指定任务。必须使用创建任务时的同一个本站 API Key。上游接受取消后返回 204，不包含响应体。已经完成或无法取消的任务可能返回上游错误。",
        "operationId": "cancelSeedanceVideoTask",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskId"
          }
        ],
        "responses": {
          "204": {
            "description": "任务取消成功，无响应体。"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "default": {
            "$ref": "#/components/responses/UpstreamOrUnexpectedError"
          }
        }
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}/content": {
      "get": {
        "tags": [
          "Seedance 视频生成"
        ],
        "summary": "下载生成的视频",
        "description": "以二进制流下载成功任务的视频。必须使用创建任务时的同一个本站 API Key；不能直接把 video_url 当作无需鉴权的公开链接。Range 请求头会转发给上游，但是否返回 206 部分内容取决于上游。2026-07-23 当前部署实测 bytes=0-1023 时，上游忽略该范围并返回 HTTP 200、完整文件和 Accept-Ranges: bytes，没有返回 Content-Range；因此客户端不能仅凭 Accept-Ranges 头假定断点续传可用。响应的媒体类型和长度等头部由上游视频响应透传。当前部署实测成功的 seedance-2.0 480p/720p 15 秒、1080p 8 秒结果，以及 seedance-2.0-fast 的 720p/15 秒单首帧与双参考图、音频开关四种结果，均下载为有效 MP4。四个图片任务的 true 成品均有可解码的非静音 AAC-LC 44.1 kHz 立体声音轨，false 成品均无音频流；这不保证未来所有上游结果都使用同一容器、编码或音频格式，也不代表已人工评价声音与画面的同步质量。",
        "operationId": "downloadSeedanceVideoTaskContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskId"
          },
          {
            "$ref": "#/components/parameters/Range"
          }
        ],
        "responses": {
          "200": {
            "description": "完整视频内容。",
            "headers": {
              "Accept-Ranges": {
                "$ref": "#/components/headers/AcceptRanges"
              },
              "Content-Length": {
                "$ref": "#/components/headers/ContentLength"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "仅当当前上游接受 Range 请求时返回的部分视频内容。2026-07-23 当前部署实测未观察到 206；上游对 bytes=0-1023 返回了 200 和完整文件。",
            "headers": {
              "Accept-Ranges": {
                "$ref": "#/components/headers/AcceptRanges"
              },
              "Content-Length": {
                "$ref": "#/components/headers/ContentLength"
              },
              "Content-Range": {
                "$ref": "#/components/headers/ContentRange"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              }
            },
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TaskNotFound"
          },
          "416": {
            "description": "仅当当前上游处理 Range 请求且判定范围无效或不可满足时可能返回。错误体使用标准 Seedance 错误格式。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "upstream_error",
                    "message": "Requested range is not satisfiable",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "default": {
            "$ref": "#/components/responses/UpstreamOrUnexpectedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "本站 API Key 的推荐鉴权方式。请求头格式：Authorization: Bearer YOUR_TKCREAZY_API_KEY。BearerAuth、XApiKeyAuth、XGoogApiKeyAuth 三者任选其一，不要同时配置，也不要在查询参数中传 key 或 api_key。"
      },
      "XApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "本站 API Key 的兼容鉴权方式。BearerAuth、XApiKeyAuth、XGoogApiKeyAuth 三者任选其一。"
      },
      "XGoogApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-goog-api-key",
        "description": "为 Gemini CLI 兼容保留的本站 API Key 请求头。BearerAuth、XApiKeyAuth、XGoogApiKeyAuth 三者任选其一。"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "可选的幂等键，会原样转发给视频上游。对同一次业务创建重试时应复用同一个值，以降低重复创建任务和重复计费的风险。不同任务应使用不同的值。",
        "schema": {
          "type": "string",
          "minLength": 1,
          "pattern": ".*\\S.*"
        },
        "example": "video-order-20260723-0001"
      },
      "TaskId": {
        "name": "task_id",
        "in": "path",
        "required": true,
        "description": "创建任务返回的 id。长度为 1 至 256 个字符；首字符必须是字母或数字，其余字符只能是字母、数字、点、下划线或连字符。任务只能由创建它的同一个本站 API Key 查询、取消和下载。",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,255}$"
        },
        "example": "vidjob_example123"
      },
      "Range": {
        "name": "Range",
        "in": "header",
        "required": false,
        "description": "可选 HTTP 字节范围，例如 bytes=0-1048575 表示请求前 1 MiB。网关会把该请求头转发给上游，但上游可能忽略并返回 HTTP 200 和完整视频；客户端必须以实际 HTTP 状态码和 Content-Range 为准。2026-07-23 当前部署实测 bytes=0-1023 被上游忽略。",
        "schema": {
          "type": "string",
          "pattern": "^bytes=([0-9]+-[0-9]*|-[0-9]+)(,([0-9]+-[0-9]*|-[0-9]+))*$"
        },
        "example": "bytes=0-1048575"
      }
    },
    "headers": {
      "AcceptRanges": {
        "description": "上游声明的范围单位，通常为 bytes。该响应头存在不代表本次请求一定返回 206；必须同时检查 HTTP 状态码和 Content-Range。",
        "schema": {
          "type": "string"
        },
        "example": "bytes"
      },
      "ContentLength": {
        "description": "当前响应体的字节数。",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0
        },
        "example": 1048576
      },
      "ContentRange": {
        "description": "部分响应覆盖的字节范围以及完整文件大小。",
        "schema": {
          "type": "string"
        },
        "example": "bytes 0-1048575/8388608"
      },
      "ContentDisposition": {
        "description": "视频文件名或展示方式；是否返回取决于上游响应。",
        "schema": {
          "type": "string"
        },
        "example": "attachment; filename=seedance-video.mp4"
      }
    },
    "schemas": {
      "SeedanceCreateTaskRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "content"
        ],
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1,
            "pattern": ".*\\S.*",
            "description": "本站 Seedance 分组中配置的入站模型名，提交前后空白会被去除。该字段由管理员自行定义，不是代码写死的枚举。分组存在非空模型价格矩阵时，矩阵也是模型白名单：模型未配置返回 400 model_not_supported；模型存在但当前分辨率没有价格返回 503 billing_not_configured。矩阵为空时沿用分组级分辨率价格。账号可再将此名称映射为上游模型名。示例中的 seedance-2.0 与 seedance-2.0-fast 是 2026-07-23 当前部署实测名称，不保证其他部署存在。",
            "example": "seedance-2.0"
          },
          "content": {
            "type": "array",
            "minItems": 1,
            "description": "提示词和可选图片的数组。数组至少包含 1 项，并且所有项中必须至少有一个去除首尾空白后仍非空的 text 项；多个非空文本会按原顺序用换行符拼接为上游 prompt。图片支持三种互斥模式：单张无 role 图片作为首帧并转发为上游 image_url；最多一个外层 role=first_frame 加可选的一个外层 role=last_frame，且 last_frame 不能单独出现；或 1 至 4 张外层 role=reference_image，转发为按 content 顺序排列的上游参考图数组。多参考图的规范写法是在 content 中重复 image_url 项，不存在 reference_images 顶层字段。参考图不能与首帧/尾帧混用；存在多张图片时，每张图片必须显式指定规范 role。",
            "items": {
              "$ref": "#/components/schemas/SeedanceContentItem"
            }
          },
          "ratio": {
            "type": "string",
            "nullable": true,
            "enum": [
              null,
              "adaptive",
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9",
              "9:21"
            ],
            "default": "adaptive",
            "description": "视频宽高比。省略、传 null、传空字符串或设置为 adaptive 时由上游自适应，并且不会向上游发送 aspect_ratio；其他值会映射为上游 aspect_ratio。规范客户端应使用枚举值或 null，不应依赖空字符串兼容行为。",
            "example": "16:9"
          },
          "duration": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "enum": [
              null,
              0,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ],
            "default": 8,
            "description": "目标视频时长，单位为秒。通用解析器接受整数 4 至 15；省略、传 null 或显式传 0 时均归一化为 8 秒，新客户端应优先省略而不是发送 0。计费使用归一化后的请求时长。下载文件的容器时长可能有少量编码偏差；2026-07-23 四个 15 秒图片任务的媒体探测结果约为 15.04 至 15.09 秒，客户端不应要求精确等于 15.000 秒。通过此范围校验不代表每个模型、分辨率和音频组合都能完成生成；当前部署的实测能力见接口说明。",
            "example": 8
          },
          "resolution": {
            "type": "string",
            "nullable": true,
            "enum": [
              null,
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p",
            "description": "输出分辨率档位，省略、传 null 或传空字符串时默认为 720p。通用解析器只接受 480p、720p、1080p 三个规范值；规范客户端不应依赖空字符串兼容行为。所选模型必须在 Seedance 分组中配置该分辨率的每秒价格，否则返回 503 billing_not_configured；有价格只表示允许创建，不保证任务最终成功。档位名称不承诺严格像素高度：2026-07-23 下载文件实测 480p 档为 864x496、720p 档为 1280x720、1080p 档为 1920x1080。当前部署中，seedance-2.0-fast 的 1080p 未配置价格；seedance-2.0 的 1080p/15 秒连续 3 次任务失败，不能视为已支持。",
            "example": "720p"
          },
          "generate_audio": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "是否请求上游同时生成音频，映射为上游 audio，省略或传 null 时为 false。具体模型是否支持音频由上游决定。2026-07-23 当前部署中，seedance-2.0 与 seedance-2.0-fast 的纯文本 480p/720p、15 秒、true 成品均检测到音频流；seedance-2.0-fast 的 720p/15 秒单首帧和双参考图也分别完成 true/false 对照实测，两个 true 成品均检测到可解码的非静音 AAC-LC、44.1 kHz、立体声音轨，两个 false 成品的音频流数量均为 0。该检测不等于人工确认声音内容或音画同步质量，也不是其他模型、组合或部署的通用保证。",
            "example": false
          },
          "watermark": {
            "type": "boolean",
            "enum": [
              false,
              null
            ],
            "nullable": true,
            "default": false,
            "description": "当前只允许省略、null 或 false，且不会转发给上游。传 true 返回 400 invalid_request。"
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "enum": [
              null
            ],
            "nullable": true,
            "deprecated": true,
            "default": null,
            "description": "当前上游适配不支持 seed。只允许省略或传 null；任何非 null 数值都会返回 400 invalid_request。",
            "example": null
          },
          "camera_fixed": {
            "type": "boolean",
            "enum": [
              false,
              null
            ],
            "nullable": true,
            "default": false,
            "description": "当前只允许省略、null 或 false，且不会转发给上游。传 true 返回 400 invalid_request。"
          }
        }
      },
      "SeedanceContentItem": {
        "description": "单个内容项。OpenAPI/Apifox 契约只列出规范的 type 值 text 和 image_url；通用服务端解析时不区分大小写，但客户端不应依赖非规范大小写。",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "text": "#/components/schemas/SeedanceTextContentItem",
            "image_url": "#/components/schemas/SeedanceImageContentItem"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/SeedanceTextContentItem"
          },
          {
            "$ref": "#/components/schemas/SeedanceImageContentItem"
          }
        ]
      },
      "SeedanceTextContentItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "text"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text"
            ],
            "description": "固定为 text。",
            "example": "text"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "视频提示词。仅空白字符会被视为空；整个 content 至少需要一个非空文本项。多个非空文本项会用换行符拼接。",
            "example": "电影级航拍镜头从海面缓慢升起，展示日出时的海岸城市"
          }
        }
      },
      "SeedanceImageContentItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "image_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "image_url"
            ],
            "description": "固定为 image_url。",
            "example": "image_url"
          },
          "image_url": {
            "description": "图片地址。方舟兼容的规范写法是包含 url 的对象，并把 role、strength 写在当前 content 项外层。本站也兼容直接传绝对 HTTP(S) URL 字符串，或把 role/strength 放入 image_url 对象；嵌套同名值会覆盖外层值，但新客户端不应依赖这些兼容写法，也不要同时在两处传同一字段。",
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "pattern": "^https?://",
                "example": "https://example.com/images/start-frame.png"
              },
              {
                "$ref": "#/components/schemas/SeedanceImageInput"
              }
            ]
          },
          "role": {
            "$ref": "#/components/schemas/SeedanceImageRole"
          },
          "strength": {
            "$ref": "#/components/schemas/SeedanceReferenceStrength"
          }
        },
        "description": "图片内容项。单张无 role 图片按首帧处理，不等同于单张 reference_image；单张参考图也必须显式写外层 role=reference_image。首尾帧模式最多一个 first_frame 和一个 last_frame，last_frame 必须同时提供 first_frame。参考图模式在 content 中重复 1 至 4 个图片项，每项都写外层 role=reference_image，且不能与首帧或尾帧混用；strength 只对 reference_image 有意义。2026-07-23 当前部署仅在 seedance-2.0-fast、720p、15 秒下实测单张无 role 首帧及两张 reference_image 两种写法。"
      },
      "SeedanceImageInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://",
            "description": "上游必须能够访问的绝对 HTTP 或 HTTPS 图片 URL。网关只校验 URL 语法和协议，不会预先抓取图片，也不校验响应 MIME、字节大小、像素尺寸或真实可访问性；相对路径、data URL 和其他协议不被接受。",
            "example": "https://example.com/images/reference.png"
          },
          "role": {
            "$ref": "#/components/schemas/SeedanceImageRole"
          },
          "strength": {
            "$ref": "#/components/schemas/SeedanceReferenceStrength"
          }
        },
        "description": "结构化图片输入，是方舟兼容请求推荐的 image_url 写法。role 和 strength 的规范位置是 content 项外层；这里保留嵌套属性只为描述本站已存在的兼容解析行为。当前实现还会忽略该嵌套对象中的未知字段，但客户端不应依赖这一行为。"
      },
      "SeedanceImageRole": {
        "type": "string",
        "enum": [
          "first_frame",
          "start_frame",
          "first",
          "last_frame",
          "end_frame",
          "last",
          "reference_image",
          "reference",
          "ref"
        ],
        "description": "图片角色，规范位置是 image_url content 项外层。首帧规范值为 first_frame，尾帧规范值为 last_frame，参考图规范值为 reference_image；新客户端只应使用这三个值。通用解析器匹配时不区分大小写，并兼容 start_frame/first、end_frame/last、reference/ref；无法识别的 role 会按无角色图片处理，客户端不应依赖这些容错行为。",
        "example": "first_frame"
      },
      "SeedanceReferenceStrength": {
        "type": "string",
        "enum": [
          "LOW",
          "MID",
          "HIGH"
        ],
        "default": "MID",
        "description": "参考图约束强度，规范位置是 role=reference_image 的 content 项外层，仅对参考图有意义。省略时默认为 MID。通用解析器匹配时不区分大小写，并会把空值或无法识别的值归一化为 MID；OpenAPI/Apifox 契约仅允许规范值 LOW、MID、HIGH，客户端不应依赖容错。",
        "example": "HIGH"
      },
      "SeedanceCreateTaskResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "本站视频任务 ID。后续查询、取消和下载都使用此值。",
            "example": "vidjob_example123"
          }
        }
      },
      "SeedanceTask": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "本站视频任务 ID。",
            "example": "vidjob_example123"
          },
          "status": {
            "type": "string",
            "description": "归一化状态通常为 queued、running、succeeded、failed 或 cancelled。上游返回未知状态时，网关会将其转为小写后原样返回，因此这里不使用封闭枚举。",
            "example": "succeeded"
          },
          "model": {
            "type": "string",
            "description": "上游任务响应中的模型名，可能是账号模型映射后的上游模型名，不保证与创建请求中的入站模型名相同。",
            "example": "seedance-2.0"
          },
          "created_at": {
            "$ref": "#/components/schemas/FlexibleTimestamp"
          },
          "updated_at": {
            "$ref": "#/components/schemas/FlexibleTimestamp"
          },
          "completed_at": {
            "$ref": "#/components/schemas/FlexibleTimestamp"
          },
          "seed": {
            "description": "上游任务响应中的 seed，存在时原样返回；创建接口当前不支持指定 seed。"
          },
          "resolution": {
            "type": "string",
            "description": "上游返回的任务分辨率。",
            "example": "720p"
          },
          "duration": {
            "type": "integer",
            "description": "上游返回的视频时长，单位为秒。",
            "example": 8
          },
          "ratio": {
            "type": "string",
            "description": "上游返回的宽高比。",
            "example": "16:9"
          },
          "content": {
            "$ref": "#/components/schemas/SeedanceTaskContent"
          },
          "error": {
            "type": "object",
            "additionalProperties": true,
            "description": "任务失败时的上游错误详情。具体字段由上游决定；若上游只返回 error_message，网关会包装为包含 message 的对象。",
            "example": {
              "message": "Video generation failed"
            }
          }
        },
        "description": "任务查询结果。可选字段仅在上游实际返回时出现；content 只在 status=succeeded 时出现，error 通常只在 status=failed 时出现。"
      },
      "SeedanceTaskContent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "video_url"
        ],
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "本站鉴权下载地址。请求该地址时仍必须携带创建任务时的同一个 API Key，可使用本文档定义的任一请求头鉴权方式。",
            "example": "https://tkcreazy.top/api/v3/contents/generations/tasks/vidjob_example123/content"
          }
        }
      },
      "FlexibleTimestamp": {
        "description": "上游时间字段，可能是 ISO 8601 字符串或 Unix 时间戳，网关不改变其类型。",
        "anyOf": [
          {
            "type": "string",
            "example": "2026-07-23T12:34:56Z"
          },
          {
            "type": "integer",
            "format": "int64",
            "example": 1784800496
          },
          {
            "type": "number",
            "format": "double",
            "example": 1784800496.123
          }
        ]
      },
      "SeedanceErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "message",
              "type"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "可选机器错误码，例如 invalid_request、model_not_supported、task_not_found、billing_not_configured、upstream_error。Seedance 专用校验路径会返回该字段；公共并发或故障转移错误路径可能省略它。",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "description": "可读错误信息。",
                "example": "duration must be between 4 and 15 seconds"
              },
              "type": {
                "type": "string",
                "description": "Seedance Handler 错误类型，当前为 invalid_request_error。",
                "example": "invalid_request_error"
              }
            }
          }
        }
      },
      "MiddlewareErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "鉴权或入口中间件错误码，例如 API_KEY_REQUIRED、INVALID_API_KEY、API_KEY_DISABLED、ACCESS_DENIED。",
            "example": "INVALID_API_KEY"
          },
          "message": {
            "type": "string",
            "description": "错误信息。",
            "example": "Invalid API key"
          }
        }
      },
      "AnyGatewayErrorResponse": {
        "description": "错误可能由 Seedance Handler 或 API Key 中间件产生，因此存在两种兼容格式。",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SeedanceErrorResponse"
          },
          {
            "$ref": "#/components/schemas/MiddlewareErrorResponse"
          }
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数或 JSON 无效。常见 code：invalid_request、model_not_supported；若在查询参数中传 API Key，可能返回 api_key_in_query_deprecated。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "examples": {
              "invalidRequest": {
                "summary": "参数校验失败",
                "value": {
                  "error": {
                    "code": "invalid_request",
                    "message": "duration must be between 4 and 15 seconds",
                    "type": "invalid_request_error"
                  }
                }
              },
              "modelNotSupported": {
                "summary": "模型不在 Seedance 分组白名单中",
                "value": {
                  "error": {
                    "code": "model_not_supported",
                    "message": "The requested model is not configured for this Seedance group",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "本站 API Key 缺失、无效、已禁用或无法鉴权。入口中间件通常返回扁平的 code/message 格式。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "examples": {
              "missingKey": {
                "summary": "缺少 API Key",
                "value": {
                  "code": "API_KEY_REQUIRED",
                  "message": "API key is required in Authorization header (Bearer scheme), x-api-key header, or x-goog-api-key header"
                }
              },
              "invalidKey": {
                "summary": "API Key 无效",
                "value": {
                  "code": "INVALID_API_KEY",
                  "message": "Invalid API key"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "API Key 无权调用 Seedance、未分配到 Seedance 分组、分组未启用视频生成、IP 被拒绝或计费资格不足。常见 code：permission_denied、ACCESS_DENIED、billing_error。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "example": {
              "error": {
                "code": "permission_denied",
                "message": "API key group does not support Seedance",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "TaskNotFound": {
        "description": "任务不存在、任务绑定已过期，或当前 API Key 不是创建该任务的 Key。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceErrorResponse"
            },
            "example": {
              "error": {
                "code": "task_not_found",
                "message": "Seedance task not found",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "RequestTooLarge": {
        "description": "请求体超过网关配置的最大大小。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceErrorResponse"
            },
            "example": {
              "error": {
                "code": "request_too_large",
                "message": "Request body is too large",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "超过用户、账号或媒体生成并发限制，或触发速率限制。部分响应会携带 Retry-After。",
        "headers": {
          "Retry-After": {
            "description": "建议等待的秒数；仅在网关能确定重试时间时返回。",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 10
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Too many concurrent requests",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "BadGateway": {
        "description": "视频上游请求失败、上游响应格式无效，或已接受的任务无法在本地绑定。常见 code：upstream_error、invalid_upstream_response、task_binding_failed。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceErrorResponse"
            },
            "example": {
              "error": {
                "code": "upstream_error",
                "message": "Seedance upstream request failed",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "模型对应分辨率未配置价格、没有可用 Seedance 上游账号，或鉴权/计费服务暂时不可用。常见 code：billing_not_configured、no_available_account、billing_service_error、API_KEY_AUTH_OVERLOADED。2026-07-23 当前部署中，seedance-2.0-fast 的 1080p 创建请求在产生任务前返回 503 billing_not_configured。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "examples": {
              "fast1080pBillingNotConfiguredObserved": {
                "summary": "当前部署实测：seedance-2.0-fast 1080p 未配置价格",
                "value": {
                  "error": {
                    "code": "billing_not_configured",
                    "message": "Video price per second is not configured for the requested model and resolution",
                    "type": "invalid_request_error"
                  }
                }
              },
              "noAvailableAccount": {
                "summary": "没有可用的 Seedance 上游账号",
                "value": {
                  "error": {
                    "code": "no_available_account",
                    "message": "No available Seedance upstream account in this API key group",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          }
        }
      },
      "UpstreamOrUnexpectedError": {
        "description": "未在当前操作中单独列出的上游或网关错误。Seedance 上游的 400 至 599 状态可能由网关保留，并包装为标准 Seedance 错误；入口中间件错误可能使用扁平 code/message 格式。客户端应同时读取 HTTP 状态和机器可读 code，不应只依赖示例中的状态集合。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AnyGatewayErrorResponse"
            },
            "examples": {
              "upstreamError": {
                "summary": "未显式枚举的上游错误",
                "value": {
                  "error": {
                    "code": "upstream_error",
                    "message": "Seedance upstream request failed",
                    "type": "invalid_request_error"
                  }
                }
              },
              "middlewareError": {
                "summary": "未显式枚举的入口中间件错误",
                "value": {
                  "code": "INTERNAL_ERROR",
                  "message": "Request could not be processed"
                }
              }
            }
          }
        }
      }
    }
  }
}
