HOST=0.0.0.0
PORT=8091
MAX_CONCURRENCY=4
MODEL_PROXY_TIMEOUT_SECONDS=300
CALLBACK_TIMEOUT_SECONDS=30
MAX_REMOTE_ARTIFACT_BYTES=104857600
MAX_MODEL_PROXY_ASSET_BYTES=62914560
MAX_IMAGE_REFERENCE_COUNT=16
MAX_IMAGE_REFERENCE_BYTES=20971520
MAX_IMAGE_REFERENCE_TOTAL_BYTES=47185920
VIDEO_POLL_INTERVAL_SECONDS=2
VERIFY_WORKER_SIGNATURE=true
SIGNATURE_MAX_AGE_SECONDS=300
